<div class="sharing">
  <a href="#" class="icon-sharing facebook">
    Facebook
  </a>

  <span class="split"></span>

  <a href="#" class="icon-sharing twitter">
    Twitter
  </a>

  <span class="split"></span>

  <a href="#" class="icon-sharing mail">
    Mail
  </a>

  <span class="split"></span>

  <a href="#" class="icon-sharing share">
    Share
  </a>
</div>