{{#if progress}}
<div class="progress-summary">
  <h3>
    Current level: {{progress.level}}
    <span class="percent">
      {{progress.percent}}%
    </span>
  </h3>

  <div
    class="bar-wrap tooltip"
    data-tooltip="<a href='#'>Register</a> or <a href='#'>login</a> for customized resources to track your progress!"
    data-tooltip-onload="true"
    data-tooltip-position-my="top middle"
    data-tooltip-position-at="bottom middle"
    data-tooltip-show-event="click"
    data-tooltip-hide-event="click">
    <div class="bar">
      <div class="prog" style="width: {{progress.percent}}%"></div>
    </div>
  </div>
</div>
{{/if}}