{{#if progress}}
<div class="progress-summary">
  <h3>
    Current level: {{progress.level}}
    <span class="percent">
      {{progress.percent}}%
    </span>
  </h3>

  <div
    class="bar-wrap"
    {{#with tooltip}}
      asd="hello"
      {{> widgets/_tooltip/tooltip}}
    {{/with}}>
    <div class="bar">
      <div class="prog" style="width: {{progress.percent}}%"></div>
    </div>
  </div>
</div>
{{/if}}