/*
	Class: ScrollOverflow
	Description: Allows for internal elements to be absolute and not extend past height of parent element.
*/

@import './ui/base/settings';
@import './ui/base/_includes/compass/css3';
@import './ui/base/_includes/scrollbars';

$class: '.scrolloverflow';


#{$class} {
  position: relative;
  overflow: hidden;

  .scrolloverflow-inside {
    position: absolute;
    left: -5000em;
    overflow-y: auto;
    overflow-x: hidden;
    @include scrollbar(7px, $colorGrey2, #fff);

    &.shown {
      position: relative;
      left: 0;
    }
  }

  @media screen and (max-width: $screenSmall) {
    .scrolloverflow-inside {
      position: relative;

      // Remove any remnants of heights applied by app
      height: auto !important;
    }
  }
}