/*
	Class: ScrollOverflow
	Description: Allows for internal elements to be absolute and not extend past height of parent element.
*/

@import './ui/base/settings';
@import './ui/base/_includes/compass/css3';
@import './ui/base/_includes/scrollbars';

$class: '.scrolloverflow';

// Removing this functionality in firefox temporarily
// as positions are not supported in table or table
// element displays. We will come back to a more robust
// solution to render correctly in FF soon.
@-moz-document url-prefix() {
  #{$class} {
    .scrolloverflow-inside {
      position: relative;
    }
  }
}


#{$class} {
  position: relative;

  .scrolloverflow-inside {
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    padding: 15px 10px;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    @include scrollbar(7px, $colorGrey2, #fff);
  }
}