/*
	Class: ScrollOverflow
	Description: Allows for internal elements to be absolute and not extend past height of parent element.
*/

@import './ui/base/settings';
@import './ui/base/_includes/compass/css3';
@import './ui/base/_includes/scrollbars';

$class: '.scrolloverflow';

#{$class} {
  position: relative;
  overflow: hidden;

  .tse-scrollable {
    position: absolute !important;
    left: -5000em !important;

    &.shown {
      position: relative !important;
      left: 0 !important;
    }
  }

  @media screen and (max-width: $screenSmallMax) {
    .scrolloverflow-inside {
      position: relative;

      // Remove any remnants of heights applied by app
      height: auto !important;
    }
  }
}