/*
  Module: Event summary
  Description: Will print out a summary of the event with meta data array being fed in.
*/
.event h2 {
  color: #135fad;
  margin-bottom: 5px; }
.event ul {
  list-style: none;
  padding-left: 0;
  margin: 0 0 15px 0; }
  .event ul li, .event ul strong, .event ul span {
    display: inline-block;
    vertical-align: top; }
  .event ul li {
    margin: 5px 0;
    display: block; }
.event dl {
  margin: 20px 0; }
  .event dl dt {
    font-weight: 700;
    margin: 0 0 5px 0; }
  .event dl dd {
    margin: 0; }
    .event dl dd p:first-child {
      margin-top: 0; }
    .event dl dd p:last-child {
      margin-bottom: 0; }
@media all and (max-width: 850px) {
  .event ul {
    margin: 10px 0; }
    .event ul li strong, .event ul li span {
      display: block;
      width: 100%; } }
