<section class="graphpc">
  <!-- Placeholder -->
  <img
    src="/ui/assets/images/placeholders/blank.gif"
    data-echo="/ui/assets/images/placeholders/graph-weeklys.jpg">

  <noscript>
    <img src="/ui/assets/images/placeholders/graph-weeklys.jpg">
  </noscript>
</section>