
<section class="form-body">
  {{#if before}}
  <div class="before">
    {{{before}}}
  </div>
  {{/if}}

  {{{body}}}

  {{#if after}}
  <div class="after">
    {{{after}}}
  </div>
  {{/if}}
</section>