/*
  Module: Form body
  Description: This component simply wraps messaging and styling around sub components.
*/

@import './ui/base/settings';
@import './ui/base/_includes/compass/css3';

$module: '.form-body';

#{$module} {
  .before {
    min-height: 120px;

    h2 {
      font: {
        size: 1.8em;
        weight: 400;
      }
    }
  }
}