/*
  Module: Form body
  Description: This component simply wraps messaging and styling around sub components.
*/

@import './ui/base/settings';
@import './ui/base/_includes/compass/css3';

$module: '.form-body';

#{$module} {
  .before {

    h2 {
      font: {
        size: 1.8em;
        weight: 400;
      }
    }
  }

  &.min-height-120 {
    .before {
      min-height: 120px;
    }
  }

  &.max-width-400 {
    max-width: 400px;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  &.max-width-500 {
    max-width: 500px;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  &.max-width-600 {
    max-width: 600px;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}