/*
  Module: List Widgets
  Description: Used for several styling and format of list based widgets.
*/

@import './ui/base/settings';
@import './ui/base/_includes/compass/css3';
@import './ui/base/_includes/clearfix';

$module: '.widget-list';

#{$module} {
  @include clearfix();

  ul {
    margin: 0; padding: 0; list-style: none;

    li {
      border-top: 1px solid $colorGrey2;
      padding: 10px 0;
      @include clearfix();

      &:first-child {
        border-top: none;
        padding-top: 0;
      }

      .thumbnail {
        float: left;
        margin: 0 15px 10px 0;
      }

      h2, p {
        margin: 3px 0;
      }

      h2 {
        font: {
          size: 1.2em;
        }
      }

      a {
        display: block;
        @include clearfix();
      }

      &.focus {
        h2 {
          font: {
            size: 1.4em;
          }
        }
      }
    }
  }

  &.noborder {
    li {
      border-top: none;
    }
  }

  &.simple {
  }

  &.list-columns {
    & > li {
      float:left;
      display:inline;
      padding-top: 0;
      padding-right: 10px;
    }

    &.two {
      & > li {
        width: 50%;
      }
    }
    &.three {
      & > li {
        width: 33%;
      }
    }
    &.four {
      & > li {
        width: 25%;
      }
    }

    @media screen and (max-width: $screenSmall) {
      margin: 0; padding: 0;

      & > li {
        display: block;
        float: none;
        width: 100%;
      }
    }
  }

}