/*
  Module: Navigation
  Description: Global navigation module called into the header.
*/

@import './ui/base/settings';

$module: '.navigation';

#{$module} {
  background: $colorBlue1;

  .menu {
    li {
      display: inline-block;

      a {
        display: inline-block;
        color: #fff;
        padding: 10px 15px;
      }
    }
  }
}