/*
	Class: Forms
	Description: Generic styles and classes related forms.
*/

@import './ui/base/settings';
@import './ui/base/_includes/compass/css3';

input {
  &[type="text"], &[type="tel"], &[type="email"] {
    font: {
      family: 'Open Sans', sans-serif;
      size: 12px;
    }
  }

  border: 1px solid darken($colorGrey2, 10%);
  padding: 5px;
  @include border-radius(5px);
}