/*
  Module: Course Status
  Description: Displays a course title and current status information
*/
.course-status .summary {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #c4c4c4; }
  .course-status .summary h3, .course-status .summary .status {
    display: table-cell;
    width: 50%;
    vertical-align: top; }
  .course-status .summary h3 {
    font-size: 1.2em;
    text-transform: none; }
  .course-status .summary .status {
    text-align: right; }
