<form class="symbol-form">
  <input type="text" name="symbols">

  <div class="buttons">
    <button type="submit" class="button blue">
      Search Symbols
    </button>

    <button type="reset">
      Reset
    </button>
  </div>
</form>