<section class="form symbol-form">
  <label for="symbol">
    Enter a Stock or Index Symbol
  </label>
  <input type="text" name="symbols">

  <div class="buttons">
    <button type="submit" class="button blue">
      Search Symbols
    </button>

    <button type="reset">
      Reset
    </button>
  </div>
</section>