/*
  Module: Snapshot Widget
  Description: Market snapshot widget designed to be connected with Market API.
*/

@import './ui/base/settings';
@import './ui/base/_includes/compass/css3';
@import './ui/base/_includes/grid';
@import './ui/base/_includes/clearfix';

$module: '.snapshot';

#{$module} {
  .graph {
    position: relative;
    height: 125px;

    .siderail {
      background: $colorGrey1;
      list-style: none;
      margin: 0;
      padding: 0;
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 40px;
      display: table;

      li {
        display: table-row;
        width: 100%;
        color: lighten($colorGrey1, 30%);
        font: {
          weight: 700;
        }

        a {
          display: table-cell;
          color: #fff;
          padding: 0 5px;
          vertical-align: middle;
        }
      }
    }
  }

  h3 {
    margin: 20px 0;
  }

  .volume {
    margin: 0;
    list-style: none;
    padding: 0;
    @include clearfix();
    display: table;
    width: 100%;

    li {
      display: table-cell;
      text-align: center;
      width: 20%;
      border-left: 1px solid $colorGrey2;
      vertical-align: bottom;
      line-height: 1em;

      &:first-child {
        border-left: none;
      }

      .before {
        font: {
          weight: 700;
          size: .75em;
        }
      }

      h5 {
        font: {
          size: 1.1em;
          weight: 400;
          family: $fontFamilyBold;
        }
        margin: 0;
      }

      .negative, .positive {
        font: {
          size: .9em;
          weight: 700;
        }
      }
      .negative { color: $colorRed1; }
      .positive { color: $colorGreen1; }
    }
  }
}