{{> widgets/widget-title}}

<div class="snapshot">
  <!--
    <div class="graph">
      <img src="/ui/assets/images/placeholders/blank.gif" data-echo="/ui/assets/images/placeholders/snapshot-graph.jpg" alt="">
    </div>
  -->

  <div class="graph">
    <ul class="siderail">
      <li>
        <a href="#" data-target="vix">
          VIX
        </a>
      </li>
      <li>
        <a href="#" data-target="cboe">
          CBOE
        </a>
      </li>
      <li>
        <a href="#" data-target="spx">
          SPX
        </a>
      </li>
      <li>
        <a href="#" data-target="oex">
          OEX
        </a>
      </li>
      <li>
        <a href="#" data-target="bxm">
          BXM
        </a>
      </li>
    </ul>

    <div class="images">
      <div class="image" data-id="vix">
        VIXXXXXX
      </div>
      <div class="image" data-id="cboe">
        CBOEEEEE
      </div>
      <div class="image" data-id="spx">
        SPXXXXXX
      </div>
      <div class="image" data-id="oex">
        OEXXXXXX
      </div>
      <div class="image" data-id="bxm">
        BXMMMMMM
      </div>
    </div>
  </div>

  <h3>
    Exchange Volume
  </h3>

  <ul class="volume">
    <li>
      <h5>
        CBOE
      </h5>
      <span class="negative">
        8453323
      </span>
    </li>
    <li>
      <h5>
        C2
      </h5>
      <span class="positive">
        6842
      </span>
    </li>
    <li>
      <span class="before">
        10.01.13
      </span>
      <h5>
        CFE
      </h5>
      <span class="positive">
        34210
      </span>
    </li>
    <li>
      <span class="before">
        10.02.13
      </span>
      <h5>
        CFE
      </h5>
      <span class="positive">
        152210
      </span>
    </li>
    <li>
      <h5>
        CBSX
      </h5>
      <span class="positive">
        24834544
      </span>
    </li>
  </ul>
</div>