{{> widgets/widget-title}}

<div class="snapshot">
  <div class="graph">
    <img src="/ui/assets/images/placeholders/snapshot-graph.jpg" alt="">
  </div>

  <h3>
    Exchange Volume
  </h3>

  <ul class="volume">
    <li>
      <h5>
        CBOE
      </h5>
      <span class="negative">
        8453323
      </span>
    </li>
    <li>
      <h5>
        C2
      </h5>
      <span class="positive">
        6842
      </span>
    </li>
    <li>
      <h5>
        CFE
      </h5>
      <span class="positive">
        34210
      </span>
    </li>
    <li>
      <h5>
        CFE
      </h5>
      <span class="positive">
        152210
      </span>
    </li>
    <li>
      <h5>
        CBSX
      </h5>
      <span class="positive">
        24834544
      </span>
    </li>
  </ul>
</div>