/*
  Module: Columns
  Description: Simple wrapper element that can break modules into columns
*/

@import './ui/base/_includes/grid';
@import './ui/base/settings';

$module: '.wrap-columns';

#{$module} {
  @include innerRow();
  margin-bottom: 20px;

  &.margin-ten {
    margin-bottom: 10px;
  }
  &.margin-none {
    margin-bottom: 0;
  }

  &.two {
    .column {
      @include column(6);
    }
  }

  .component {
    margin-bottom: 50px;
    position: relative;

    &:after {
      display: block; content: "";
      border-bottom: 1px solid $colorGrey2;
      width: 100%;
      position: absolute;
      bottom: -15px;
      left: 0;
    }

    &:last-child {
      border-bottom: none;
      padding: 0;
      margin-bottom: 0;

      &:after { display: none; }
    }
    &:first-child {
      border-bottom: none;
      padding: 0;
      margin-bottom: 0;

      &:after { display: none; }
    }

    &>div, &>section, &>article {
      margin: 0;
    }
  }
}