<div class="wrap-columns two {{#each classes}} {{this}} {{/each}}">
  <div class="column {{#if widgetWrapper}} widget {{/if}}">
    {{#each column1}}
      <div class="component">
        {{{this}}}
      </div>
    {{/each}}
  </div>
  <div class="column {{#if widgetWrapper}} widget {{/if}}">
    {{#each column2}}
      <div class="component">
        {{{this}}}
      </div>
    {{/each}}
  </div>
</div>