<section class="login-social buttons">
  <a href="#" class="button grey-grad facebook">
    Facebook
  </a>
  <a href="#" class="button grey-grad google">
    Google
  </a>
  <a href="#" class="button grey-grad twitter">
    Twitter
  </a>
  <a href="#" class="button grey-grad linkedin">
    LinkedIn
  </a>
  <a href="#" class="button grey-grad live">
    Windows Live
  </a>
  <a href="#" class="button grey-grad yahoo">
    Yahoo!
  </a>
</section>