<section class="login-social buttons">
  <a href="#" class="button large notbold grey-grad icon-social-signin facebook">
    Facebook
  </a>
  <a href="#" class="button large notbold grey-grad icon-social-signin google">
    Google
  </a>
  <a href="#" class="button large notbold grey-grad icon-social-signin twitter">
    Twitter
  </a>
  <a href="#" class="button large notbold grey-grad icon-social-signin linkedin">
    LinkedIn
  </a>
  <a href="#" class="button large notbold grey-grad icon-social-signin live">
    Windows Live
  </a>
  <a href="#" class="button large notbold grey-grad icon-social-signin yahoo">
    Yahoo!
  </a>
</section>