<section class="form forms weeklys">
  <h3>
    Expirations Opportunities Every Week!
  </h3>

  <div>
    <div class="col">
      <input type="text" placeholder="Quotes, Keywords, Products, News, etc.">
    </div>
    <div class="col">
      <button type="submit" class="button">Enter</button>
    </div>
    <div class="col">
      <button type="reset" class="button grey">Clear</button>
    </div>
  </div>
</section>