<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{title}} - Starter Application</title>
    {{#meta}}
      {{#keywords}}<meta name="keywords" content="{{this}}" >{{/keywords}}
      {{#description}}<meta name="description" content="{{this}}" >{{/description}}
    {{/meta}}

    <link href="/stylesheets/basic.css" media="all" rel="stylesheet" type="text/css">
    <script src="/lib/jquery/jquery.js"></script>
</head>
<body>

    {{{body}}}

</body>
</html>
