/*
  Module: Optionable Title
  Description: A widget title component which allows for dropdown options.
*/

@import './ui/base/settings';
@import './ui/base/_includes/grid';
@import './ui/base/_includes/compass/css3';

$module: '.optionable-title';

#{$module} {
  @include innerRow();
  margin-bottom: 20px!important;

  .search-component, .left {
  }

  .left {
    float:left;
    padding-left: 0;

    &>.title {
      margin: 0;
      display: inline-block;
      vertical-align: middle;
    }
  }

  .form-component {
    float:right;
    padding-right: 0;
    text-align: right;

    label {
      display: inline-block;
      margin: 0 10px;

      &:last-child {
        margin: 0;
      }

      select {}
    }

    button {
      //margin-left: 10px;
    }
  }
  .quote-summary {
    float:right;
    width:auto;
    padding-right:0;
    margin-bottom:0;

    .col {
      padding:0 0 0 50px;
      .key, .value {
        display:inline-block;
        vertical-align:middle;
      }
      .key {
        margin-right:10px;
      }
    }
  }

  @media all and (max-width: $screenSmallMax) {
    .left, .form-component {
      padding: 0;
      float: none;
    }

    .form-component {
      text-align: left;

      select {
        display: block;
        width: 100%;
        margin: 10px 0;
      }

      label {
        width: 100%;
        display: block;
        margin: 5px 0;

        select {
          margin: 0;
        }
      }

      button {
        width: 100%;
        text-align: center;
        margin: 5px 0;
      }

      &>*:last-child {
        margin-bottom: 0;
      }
    }
    .quote-summary {
      float:none;
      width:100%;

      .col {
        padding:0;
      }
    }
  }
}