<div class="advert full-width">
  <div class="container-ad">
	  <span class="close-ad">[close X]</span>
	  <img src="/ui/assets/images/placeholders/blank.gif" 
	  data-echo="/ui/assets/images/placeholders/full-width-banner.jpg">
  </div>
</div>