<div class="advert slim">

  <!-- Desktop ad placeholder -->
  <div class="hideonmobile">
    <a href="#">
      <img src="/ui/assets/images/placeholders/blank.gif"
      data-echo="/ui/assets/images/placeholders/advert-2.jpg">
      <noscript>
        <img src="/ui/assets/images/placeholders/advert-2.jpg">
      </noscript>
    </a>
  </div>
  <!-- /END Desktop ad placeholder -->

  <!-- Mobile ad placeholder -->
  <div class="hideondesktop">
    <a href="#">
      <img src="/ui/assets/images/placeholders/blank.gif"
      data-echo="/ui/assets/images/placeholders/advert-4.jpg">
      <noscript>
        <img src="/ui/assets/images/placeholders/advert-4.jpg">
      </noscript>
    </a>
  </div>
  <!-- /END Mobile ad placeholder -->
</div>