/*
  Module: Breadcrumb
  Description: Listed breadcrumb navigation with flyout on hover. Removed on mobile
*/
.breadcrumbs {
  float: left;
  position: relative;
  min-height: 1px;
  padding: 0 15px;
  width: 100%;
  margin: 20px 0;
  list-style: none; }
  @media only screen and (max-width: 767px) {
    .breadcrumbs {
      float: none;
      width: auto; } }
  .breadcrumbs > li {
    display: inline-block;
    padding: 0 10px;
    position: relative; }
    .breadcrumbs > li:first-child {
      padding-left: 0; }
    .breadcrumbs > li > a {
      display: inline-block;
      position: relative;
      color: #135fad;
      text-decoration: underline;
      font-weight: 700; }
      .breadcrumbs > li > a:after {
        display: block;
        position: absolute;
        content: '';
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 3px 0 3px 5px;
        border-color: transparent transparent transparent #949ca1;
        right: -15px;
        top: 50%;
        margin-top: -3px; }
    .breadcrumbs > li.active > a, .breadcrumbs > li:last-child > a {
      color: #313538;
      text-decoration: none; }
      .breadcrumbs > li.active > a:after, .breadcrumbs > li:last-child > a:after {
        display: none; }
    .breadcrumbs > li ul {
      position: absolute;
      z-index: 50;
      left: -5000em;
      background: #135fad;
      width: 150px;
      padding: 0;
      border-top: 4px solid #12b7ed; }
      .breadcrumbs > li ul li {
        display: block;
        padding: 0; }
        .breadcrumbs > li ul li a {
          display: block;
          width: 100%;
          padding: 6px 10px;
          color: white; }
    .breadcrumbs > li.show ul, .breadcrumbs > li:hover ul {
      left: 10px; }
  @media screen and (max-width: 767px) {
    .breadcrumbs {
      display: none; } }
