/*
  Module: Table
  Description: Controlled table component allowing for hide functionality on mobile.
*/
@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-o-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-ms-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

.table-title {
  *zoom: 1; }
  .table-title:before, .table-title:after {
    content: " ";
    display: table; }
  .table-title:after {
    clear: both; }
  .table-title .title {
    float: left;
    font-weight: 400;
    font-size: 1.8em;
    margin: 0; }
  .table-title .right {
    float: right;
    margin-top: 7px;
    text-transform: uppercase;
    font-weight: 700; }
  @media all and (max-width: 767px) {
    .table-title .title, .table-title .right {
      display: block;
      float: none;
      margin: 0; }
    .table-title .right {
      margin-bottom: 10px; } }

.table-wrapper {
  overflow-x: auto; }

.table {
  width: 100%;
  border-collapse: collapse; }
  .table a {
    color: #135fad; }
    .table a:hover, .table a:active {
      color: #313538; }
  .table thead {
    font-size: 0.9em;
    text-align: left; }
  .table tbody tr {
    border-bottom: 1px solid #dddddd; }
    .table tbody tr.higlighted {
      background-color: #91e988 !important; }
    .table tbody tr td {
      padding: 1px 2px; }
      .table tbody tr td.bold {
        font-weight: bold; }
    .table tbody tr:last-child {
      border-bottom: none; }
  .table td, .table th {
    text-align: left; }
  .table .onlymobile {
    display: none; }
  .table.last-right td:last-child, .table.last-right th:last-child {
    text-align: right; }
  .table.width90 {
    margin: 0 0 0 5%;
    width: 90%; }
  .table.larger {
    font-size: 1.25em;
    font-weight: 700; }
    .table.larger td {
      padding: 10px 2px; }
  .table.padvertical tbody tr td, .table.padvertical tbody tr th, .table.padvertical thead tr td, .table.padvertical thead tr th, .table.padvertical tfoot tr td, .table.padvertical tfoot tr th {
    padding-top: 5px;
    padding-bottom: 5px; }
  .table.padhorizontal tbody tr td, .table.padhorizontal tbody tr th, .table.padhorizontal thead tr td, .table.padhorizontal thead tr th, .table.padhorizontal tfoot tr td, .table.padhorizontal tfoot tr th {
    padding-left: 10px;
    padding-right: 10px; }
  .table.center th, .table.center td {
    text-align: center; }
  .table.oddeven > thead > tr {
    background: #dddddd; }
  .table.oddeven tr:nth-child(even) {
    background: #eaeaea; }
  .table.oddeven tr:nth-child(odd) {
    background: white; }
  .table.cellborders tr {
    border-bottom: 1px solid #cecece; }
    .table.cellborders tr:first-child {
      border-top: 1px solid #cecece; }
    .table.cellborders tr:last-child {
      border-bottom: 1px solid #cecece; }
  .table.cellborders td, .table.cellborders th {
    border-right: 1px solid #cecece; }
    .table.cellborders td:first-child, .table.cellborders th:first-child {
      border-left: 1px solid #cecece; }
  .table.inner-cellborders tr {
    border-bottom: 1px solid #cecece; }
    .table.inner-cellborders tr:last-child {
      border-bottom: 1px solid #cecece; }
  .table.inner-cellborders td, .table.inner-cellborders th {
    border-left: 1px solid #cecece; }
    .table.inner-cellborders td:first-child, .table.inner-cellborders th:first-child {
      border-left: none; }
  .table.light-header > thead > tr:nth-child(even), .table.light-header > thead > tr:nth-child(odd) {
    background: white; }
  .table.data-table {
    margin-bottom: 30px;
    border-width: 1px 0;
    border-style: solid none;
    border-color: #dddddd; }
    .table.data-table tr td {
      width: 25%; }
    .table.data-table tr td:nth-child(4n-2) {
      text-align: right;
      padding-right: 50px; }
    .table.data-table.nomarbottom {
      margin-bottom: 0px; }
  .table.symbol-list th:first-child + th, .table.symbol-list td:first-child + td {
    border-left: none; }
  @media all and (max-width: 767px) {
    .table {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
      opacity: 0; }
      .table.mobile-load {
        -moz-animation: fadeIn 0.6s;
        -webkit-animation: fadeIn 0.6s;
        -o-animation: fadeIn 0.6s;
        -ms-animation: fadeIn 0.6s;
        animation: fadeIn 0.6s;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1; }
      .table.padhorizontal tbody tr td, .table.padhorizontal tbody tr th, .table.padhorizontal thead tr td, .table.padhorizontal thead tr th, .table.padhorizontal tfoot tr td, .table.padhorizontal tfoot tr th {
        padding-left: 5px;
        padding-right: 5px; }
      .table.data-table {
        border-bottom: none; }
        .table.data-table tr {
          width: 100%;
          border-bottom: 0; }
          .table.data-table tr td {
            width: 49.5%;
            display: inline-block;
            border-bottom: 1px solid #dddddd;
            float: left; }
            .table.data-table tr td.nomobile {
              display: none; }
          .table.data-table tr td:nth-child(2n) {
            text-align: right;
            padding-right: 0px; }
        .table.data-table.oddeven tr:nth-child(even) {
          background: white; }
        .table.data-table.oddeven tr td:nth-child(2n) {
          border-bottom: 1px solid #dddddd; }
        .table.data-table.oddeven tr td:nth-child(3n), .table.data-table.oddeven tr td:nth-child(4n) {
          background: #eaeaea; }
      .table .nomobile {
        display: none; }
      .table .onlymobile {
        display: table-cell; }
      .table th, .table td {
        padding: inherit 4px; } }
