/*
  Class: Hideon
  Description: Used to remove certain elements between mobile/desktop views.
*/

@import './ui/base/settings';

.hideonmobile {
  @media screen and (max-width: $screenSmall) {
    position: fixed;
    top: 2000%;
    right: -2000%;
  }
}

.hideondesktop {
  display: none\9;

  @media screen and (min-width: $screenSmall) {
    position: fixed;
    top: 2000%;
    right: -2000%;
  }
}