<form class="subscriptions-form">

  <fieldset>
    <h4>
      Select CBOE E-mail Alerts and Special Offers below or see all E-mail Alerts and offers <a href="#">here</a>.
    </h4>

    <div class="columns two">
      <label class="checkbox column">
        <input type="checkbox" name="option">
        CBOE E-mail Alerts
      </label>

      <label class="checkbox column">
        <input type="checkbox" name="option">
        Event Calendar
      </label>

      <label class="checkbox column">
        <input type="checkbox" name="option">
        CBOE eNews
      </label>

      <label class="checkbox column">
        <input type="checkbox" name="option">
        CBOE Market Commentary
      </label>

      <label class="checkbox column">
        <input type="checkbox" name="option">
        Daily New Series
      </label>

      <label class="checkbox column">
        <input type="checkbox" name="option">
        General Announcements
      </label>

      <label class="checkbox column">
        <input type="checkbox" name="option">
        CBOE Live Seminars
      </label>

      <label class="checkbox column">
        <input type="checkbox" name="option">
        CBOE TV
      </label>

      <label class="checkbox column">
        <input type="checkbox" name="option">
        Webcasts
      </label>

      <label class="checkbox column">
        <input type="checkbox" name="option">
        Markets Statistics
      </label>
    </div>
  </fieldset>

  <fieldset>
    <h4>
      CBOE Special Offers
    </h4>

    <img src="/ui/assets/images/placeholders/blank.gif" data-echo="/ui/assets/images/register/schaeffer14.jpg" alt="">

    <label class="checkbox column">
        <input type="checkbox" name="option">
        <h5>2014 Investor Forecast: Is it time to sell?</h5>
        Discover two potentially rising stocks, which sector could breakout, and the three technical levels to watch. Download FREE today!
      </label>
  </fieldset>

  <div class="buttons">
    <button type="submit" class="button blue">
      Save Settings
    </button>

    <a href="#" class="button grey">
      myCBOE Home
    </a>
  </div>

</form>