{{> header/header}}

<div class="body view-homepage">
  <div class="container">
    <div class="row">
      <div class="column1 widget nostyle">
          {{{widget1}}}
      </div>
      <div class="column2 widget">
          {{{widget2}}}
      </div>
    </div>
    <div class="row">
      <div class="column1">

          {{#each widget3}}
            each
            {{{this}}}
          {{/each}}
      </div>
      <div class="column2 widget">
          row2:column2
      </div>
    </div>
  </div>
</div>

{{> footer/footer}}