/*
  View: index
  Description: Styling for index view.
*/

@import './ui/base/settings';
@import './ui/base/_includes/compass/css3';
@import './ui/base/_includes/grid';
@import './ui/base/_includes/clearfix';

$view: '.view-index';

#{$view} {

  .row {
    @include clearfix();
    margin: 20px 0;
    display: table;
    table-layout: fixed;
    width: 100%;

    .row {
      &:first-child { margin-top: 0; }
      &:last-child { margin-bottom: 0; }
    }

    .column1, .column2, .column50 {
      display: table-cell;
      vertical-align: top;
      border-left: 7px solid $colorGrey2;
      border-right: 7px solid $colorGrey2;
    }

    .column1 {
      width: 66.666%;
    }

    .column2 {
      width: 33.333%;
    }

    .column50 {
      width: 50%;

      &:first-child {
        border-left: none;

        + .column50 {
          border-right: none;
        }
      }
    }
  }

  @media screen and (max-width: 900px) {
    .row {
      .column1 {
        .row {
          margin: 0;
          .column50, .col {
            display: block;
            width: 100%;
            border: none;
            margin: 10px 0;

            &:first-child {
              margin-top: 0;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: $screenSmall) {
    .row {
      display: block;
      padding: 0 10px;
      margin: 0;

      .row {
        padding: 0;
      }

      .column1, .column2, .column3, .column50 {
        display: block;
        width: 100%;
        border: none;
      }

      &.secondRow {
        display: table;

        .column1 {
          display: table-footer-group;
        }
      }
    }
  }
}