{{> header/header}}

<div class="body view-homepage">
  <div class="container">
    <div class="row">
      <div class="column1">
        <div class="widget nostyle">
          {{{widget1}}}
        </div>
      </div>
      <div class="column2">
        <div class="widget">
          row1:column2
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column1">
        <div class="widget">
          row2:column1
        </div>
      </div>
      <div class="column2">
        <div class="widget">
          row2:column2
        </div>
      </div>
    </div>
  </div>
</div>

{{> footer/footer}}