{{> header/header}}

<div class="body view-threecol">
  <div class="container">

    <div class="topspan">
      {{#each topspan}}
        {{{this}}}
      {{/each}}
    </div>

    <div class="main">

      <div class="col1">
        col1
      </div>

      <div class="col2">
        col2
      </div>

      <div class="col3">
        col3
      </div>

    </div>

    {{> ads/span/slim}}

  </div>
</div>

{{> footer/footer}}