{{> header/header}}

<div class="body view-threecol">
  <div class="container">

    <div class="topspan">
      {{#each topspan}}
        {{{this}}}
      {{/each}}
    </div>

    <div class="main">
      asd
    </div>

    {{> ads/span/slim}}

  </div>
</div>

{{> footer/footer}}