/*
  Class: text
  Description: These classes are related to text styling and can be applied where
  and as needed.
*/

@import './ui/base/settings';
@import './ui/base/_includes/compass/css3';
@import './ui/base/_includes/scrollbars';

$class: '.text-';

#{$class}center {
  text-align: center;
}
#{$class}right {
  text-align: right;
}
#{$class}left {
  text-align: left;
}

#{$class}green {
  color: $colorGreen1;
}
#{$class}grey {
  color: $colorGrey1;
}
#{$class}red {
  color: $colorRed1;
}
#{$class}bold-link {
  color: $colorBlue2;
  font-weight: bold;
}

#{$class}larger-12 {
  font: {
    size: 1.2em;
  }
}#{$class}larger-13 {
  font: {
    size: 1.2em;
  }
}