<form class="search-quotes-form">
  <label for="symbol">
    Enter a Stock or Index Symbol
  </label>
  <input type="text" name="symbol">

  <label class="notbold">
    <input type="checkbox" name="alloptions">
    All exchange option quotes (if multiply listed)
  </label>
  <label class="notbold">
    <input type="radio" name="filter" checked="true">
    List near term at-the-money options &amp; <strong>weekly</strong> if available.
  </label>
  <label class="notbold">
    <input type="radio" name="filter">
    List all <strong>options, LEAPS, Credit Options &amp; Weeklys</strong> if available.
  </label>

  <div class="buttons">
    <button type="submit" class="button blue">
      Search
    </button>

    <button type="reset">
      Reset
    </button>
  </div>

</form>