@mixin responsiveembed() {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;

  iframe, object, embed, video, img {
  	position: absolute !important;
  	top: 0 !important;
  	left: 0 !important;
  	width: 100% !important;
  	height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    max-width: 100%;
  }
}