<footer class="footer">
  <div class="container">
    <div class="menu-1">
      <h3>CBOE Links</h3>
      <ul>
        <li>
          <a href="#">
            System Status
          </a>
        </li>
        <li>
          <a href="#">
            Investor Relations
          </a>
        </li>
        <li>
          <a href="#">
            International
          </a>
        </li>
        <li>
          <a href="#">
            Risk Management
          </a>
        </li>
        <li>
          <a href="#">
            Careers
          </a>
        </li>
        <li>
          <a href="#">
            Advertise with CBOE
          </a>
        </li>
        <li>
          <a href="#">
            Contact
          </a>
        </li>
      </ul>
    </div>

    <div class="menu-2">
      <h3>Legal</h3>
      <ul>
        <li>
          <a href="#">
            Legal &amp; Regulatory
          </a>
        </li>
        <li>
          <a href="#">
            Privacy Statement
          </a>
        </li>
        <li>
          <a href="#">
            Terms &amp; Conditions
          </a>
        </li>
        <li>
          <a href="#">
            Copyright &amp; Trademarks
          </a>
        </li>
        <li>
          <a href="#">
            Characteristics and Risk of Standardized Options
          </a>
        </li>
        <li>
          <a href="#">
            OCC and Investor Protections
          </a>
        </li>
        <li>
          <a href="#">
            Browser &amp; System Requirements
          </a>
        </li>
      </ul>
    </div>

    <div class="disclaimer">
      <h3>
        <span class="icon-logo cboe">
          CBOE
        </span>
      </h3>
      <p>
        Options involve risk and are not suitable for all investors. Prior to buying or selling an option, a person must receive a copy of Characteristics and Risks of Standardized Options (ODD). Copies of the ODD are available from your broker, by calling <a href="tel:18886784667">1-888-OPTIONS</a>, or from The Options Clearing Corporation, One North Wacker Drive, Suite 500, Chicago, Illinois 60606. The information on this website is provided solely for general education and information purposes and therefore should not be considered complete, precise, or current. Many of the matters discussed are subject to detailed rules, regulations, and statutory provisions which should be referred to for additional detail and are subject to changes that may not be reflected in the website information. No statement within the website should be construed as a recommendation to buy or sell a security or to provide investment advice. The inclusion of non-CBOE advertisements on the website should not be construed as an endorsement or an indication of the value of any product, service, or website. The Terms and Conditions govern use of this website and use of this website will be deemed acceptance of those Terms and Conditions.
      </p>
    </div>
  </div>
</footer>