/*
  Module: Hero
  Description: Hero module renders a single background image and has functionality to allow for multiple overlay slides.
*/

@import './ui/base/settings';
@import './ui/base/_includes/grid';
@import './ui/base/_includes/compass/css3';
@import './ui/base/_includes/animation/fadein';

$module: '.widget-hero';

$3dsize: 6px;

#{$module} {
  overflow: hidden;
  position: relative;

  .slides {

    .slide {
      left: -5000em;
      position: absolute;

      &.active {
        position: relative;
        left: 0;
        @include fadeIn(1s);
      }

      .link {
        position: absolute;
        right: 15px;
        bottom: 15px;
        background: $colorGreen3;
        @include inline-block();
        color: #fff;
        padding: 3px 10px;
        text-decoration: none;
        text-transform: uppercase;
        font: {
          weight: 400;
          size: .9em;
        }
      }
    }

    .controls {
      padding: 0; margin: 0; list-style: none;
      position: absolute;
      bottom: 17px;
      left: 11px;

      li {
        cursor: pointer;
        display: block; float: left;
        background: #fff;
        height: 10px; width: 10px;
        margin: 0 5px;
        @include border-radius(10px);

        &.active {
          background: $colorGreen3;
        }
      }
    }
  }


  &.hero {
    min-height: 300px;

    .background {
      position: absolute;
      top: 0; left: $3dsize;
      z-index: 0;
      max-width: 800px !important; // exception to responsive scaling
    }

    .slides {
      position: absolute;
      bottom: 0; left: 0;
      width: 100%;

      .slide {
        background: $colorGreen1;
        width: 65%;
        color: #fff;
        padding: 15px;
        border-top: $3dsize solid $colorGreen2;
        border-right: $3dsize solid $colorGreen3;

        &:before {
          display: block; content: ""; position: absolute;

          top: -$3dsize;
          left: 0;
          border-style: solid;
          border-width: $3dsize $3dsize 0 0;
          border-color: $colorGrey2 transparent transparent transparent;
        }


        h5 {
          color: $colorGreen2;
          font: {
            size: 1em;
            weight: 600;
          }
          text-transform: uppercase;
          margin: 0;
        }

        h2 {
          font: {
            size: 1.6em;
            weight: 400;
          }
          padding-right: 20px;
          margin: 10px 0 35px;
        }
      }
    }
  }

  &.copybased {
    .slides {
      .slide {
        padding-bottom: 30px;
      }
    }

    .controls {
      li {
        background: lighten($colorGrey1, 60%);

        &.active {
          background: $colorGrey1;
        }
      }
    }
  }

  @media screen and (max-width: $screenSmallMax) {
    &.hero {
      min-height: 0;

      .background {
        position: fixed;
        top: 200%;
      }

      .slides {
        position: relative;

        .slide {
          width: 100%;
        }
      }
    }
  }
}