<div class="sponsered">
  <div class="results">
    <h4>
      Sponsered Results
    </h4>

    <a href="#">
      <h5>
        About CBOE
      </h5>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vestibulum diam libero, ut euismod enim vestibulum interdum. Etiam laoreet ligula sed lacinia malesuada. In rutrum fermentum risus, id sodales orci tempus venenatis.
      </p>
    </a>
    <a href="#">
      <h5>
        CBOE - Investor Relations
      </h5>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vestibulum diam libero, ut euismod enim vestibulum interdum. Etiam laoreet ligula sed lacinia malesuada. In rutrum fermentum risus, id sodales orci tempus venenatis.
      </p>
    </a>
  </div>

  <div class="ad">
    {{> ads/square_300/block}}
  </div>
</div>