/*
  Module: Sponsered Results
  Description: Styling for search sponsered results
*/

@import './ui/base/_includes/grid';
@import './ui/base/settings';

$module: '.sponsered';

#{$module} {
  display: table;
  table-layout: fixed;
  width: 100%;

  .block {
    background: lighten($colorGrey2, 7%);
    padding: 10px;
  }

  .results, .ad {
    display: table-cell;
    vertical-align: top;
  }

  .results {
    width: 100%;

    a {
      display: block;
      margin-top: 30px;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  .ad {
    padding-left: 15px;
    width: 300px;
  }
}