/*
  Module: Advert
  Description: Styling for all advert formats
*/

@import './ui/base/_includes/grid';
@import './ui/base/settings';

$module: '.advert';

#{$module} {
  &.slim {
    text-align: center;
    margin: 20px auto;

    img {
      display: inline-block;
      border: 4px solid #fff;
    }
  }
}