/*
  Module: Advert
  Description: Styling for all advert formats
*/

@import './ui/base/_includes/grid';
@import './ui/base/settings';

$module: '.advert';

#{$module} {
  &.slim {
    text-align: center;
    margin: 20px auto;

    img {
      display: inline-block;
      border: 4px solid #fff;
    }
  }
  &.full-width {
    text-align: center;
    margin: 0 auto;
    padding: 35px 0 25px;
    border-top:5px solid #000000;
    background-color: $colorGrey1;

    img {
      display: inline-block;
    }
  }
  .container-ad{
    position: relative;
    display: inline-block;
  }
  .close-ad{
    font:10px Arial, Helvetica, sans-serif;
    color:#ffffff;
    position: absolute;
    top: -15px;
    right: 0;
    cursor: pointer;
      &:hover{
        text-decoration: underline;
      }
  }

  &.dark {
    background: $colorGrey1;
    padding: 1px 0;
  }
}