/*
  Module: TV Widget .row
  Description: This allows for multiple rows of video thumbnails.
*/

@import './ui/base/settings';
@import './ui/base/_includes/compass/css3';
@import './ui/base/_includes/grid';
@import './ui/base/_includes/clearfix';
@import './ui/base/_includes/responsiveembed';

$module: '.widget-tv.row';

#{$module} {
  margin: 20px 0;

  .title {
    display: table;
    table-layout: fixed;
    width: 100%;
    border-bottom: 1px solid $colorGrey2;
    padding-bottom: 10px;

    h2, .viewall {
      display: table-cell;
      vertical-align: top;
    }

    h2 {
      .total {
        color: $colorBlue1;

        &:hover, &:active {
          color: $colorGrey1;
        }
      }
    }

    .viewall {
      text-align: right;
      color: $colorBlue1;

      &:hover, &:active {
        color: $colorGrey1;
      }

      &.shown {
        color: $colorRed1;

        &:before {
          content: "\00D7";
          display: inline;
        }
      }
    }
  }

  .items {
    //display: table;
    //table-layout: fixed;
    @include innerRow();
    width: 100%;
    margin: 20px 0;

    .item {
      //display: table-cell;
      //vertical-align: top;
      @include column(3);
      padding: 10px;

      // Only show 4 items by default
      &+.item+.item+.item+.item {
        display: none;
      }

      img {
        max-height: 220px;
        background: darken(#fff, 3%);
      }
    }

    .showWithAll {
      display: none;
    }
  }

  .meta {
    margin: 10px 0;
  }

  @media screen and (max-width: 900px) {
    .items {
      .item {
        padding: 5px;

        h3 {
          font-size: 1.1em;
        }
      }
    }
  }

  @media screen and (max-width: 500px) {
    .items {
      overflow-x: scroll;
      white-space: nowrap;
      display: block;

      .item {
        padding: 5px;
        padding: 5px;
        display: inline-block;
        white-space: normal;
        width: 91%;

        h3 {
          font-size: 1.1em;
        }
      }
    }
  }
}