<div class="advert 300" style="text-align: center">
  <img
    src="/ui/assets/images/placeholders/blank.gif"
    data-echo="/ui/assets/images/placeholders/advert-1.jpg"
    alt=""
    class="background"
    style="display: inline-block; margin: 10px 0;">

  <noscript>
    <img
    src="/ui/assets/images/placeholders/advert-1.jpg"
    alt=""
    class="background"
    style="display: inline-block; margin: 10px 0;">
  </noscript>
</div>