/*
  Class: Icons
  Description: Contains generic items that can be used in various areas across the site.
*/
.icon-social {
  background: url(/ui/classes/icons/assets/social.jpg) no-repeat top left;
  text-indent: -5000em;
  color: rgba(19, 95, 173, 0) !important;
  width: 20px;
  height: 20px;
  text-align: left;
  display: inline-block; }
  .icon-social.twitter {
    background-position: -3px 0; }
  .icon-social.youtube {
    background-position: -29px 0; }
  .icon-social.facebook {
    background-position: -55px 0; }
  .icon-social.linkedin {
    background-position: -80px 0; }
  .icon-social.ios {
    background-position: -105px 0; }
  .icon-social.rss {
    background-position: -133px 0; }

.icon-logo {
  text-indent: -5000em;
  color: rgba(19, 95, 173, 0) !important;
  text-align: left;
  display: inline-block; }
  .icon-logo.tradestation {
    background: url(/ui/classes/icons/assets/canvas.png) no-repeat center center;
    background-position: 0 -180px;
    width: 83px;
    height: 16px; }
  .icon-logo.optionshub {
    background: url(/ui/classes/icons/assets/canvas.png) no-repeat center center;
    background-position: 0 -128px;
    width: 98px;
    height: 27px; }
  .icon-logo.cboe {
    background: url(/ui/classes/icons/assets/canvas.png) no-repeat center center;
    background-position: 0 -78px;
    width: 73px;
    height: 26px; }

.icon-arrows {
  background: url(/ui/classes/icons/assets/canvas.png) no-repeat center center;
  text-indent: -5000em;
  color: rgba(19, 95, 173, 0) !important;
  text-align: left;
  display: inline-block;
  width: 23px;
  height: 44px; }
  .icon-arrows.right {
    background-position: 0 0; }
  .icon-arrows.left {
    background-position: -23px 0; }

.icon-smallarrows {
  background: url(/ui/classes/icons/assets/canvas.png) no-repeat center center;
  text-indent: -5000em;
  color: rgba(19, 95, 173, 0) !important;
  text-align: left;
  display: inline-block;
  width: 13px;
  height: 9px; }
  .icon-smallarrows.up {
    background-position: -17px -51px; }
  .icon-smallarrows.down {
    background-position: -1px -51px; }
  .icon-smallarrows.right {
    background-position: -86px -50px;
    width: 9px;
    height: 13px; }
  .icon-smallarrows.left {
    background-position: -67px -50px;
    width: 9px;
    height: 13px; }

.icon-css-arrows > li > a, .icon-css-arrows > a {
  position: relative;
  padding-left: 15px; }
  .icon-css-arrows > li > a:before, .icon-css-arrows > a:before {
    display: inline-block;
    content: '' !important;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 6px 0 6px 7px;
    border-color: transparent transparent transparent black;
    margin: 0 5px -2px 0;
    position: absolute;
    left: 2px !important;
    top: 2px; }
.icon-css-arrows > li > a {
  display: block; }
.icon-css-arrows > li:before {
  content: "" !important; }
.icon-css-arrows.left {
  position: relative; }
  .icon-css-arrows.left:before {
    display: inline-block;
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 4px 8px 4px 0;
    border-color: transparent #135fad transparent transparent;
    margin: -1px 3px 0 0; }
.icon-css-arrows.right {
  position: relative; }
  .icon-css-arrows.right:after {
    display: inline-block;
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 4px 0 4px 8px;
    border-color: transparent transparent transparent #135fad;
    margin: -1px 0 0 3px; }

.icon-before {
  position: relative;
  padding-left: 30px !important; }
  .icon-before:before {
    background: url(/ui/classes/icons/assets/canvas.png) no-repeat center center;
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -8px; }
  .icon-before.chart:before {
    background-position: -1px -208px;
    width: 20px;
    height: 20px; }
  .icon-before.calendar:before {
    background-position: -28px -206px;
    width: 20px;
    height: 20px; }
  .icon-before.institute:before {
    background-position: -53px -206px;
    width: 20px;
    height: 20px; }
  .icon-before.book:before {
    background-position: -1px -230px;
    width: 22px;
    height: 20px; }
  .icon-before.transcript:before {
    background-position: -27px -228px;
    width: 22px;
    height: 20px; }
  .icon-before.register:before {
    background-position: -45px -366px;
    width: 22px;
    height: 20px; }
  .icon-before.assessment:before {
    background-position: -73px -366px;
    width: 22px;
    height: 20px; }
  .icon-before.lock {
    padding-left: 18px !important; }
    .icon-before.lock:before {
      background-position: -85px 0;
      width: 11px;
      height: 14px; }
    .icon-before.lock.black:before {
      background-position: -61px 0; }
  .icon-before.unlock {
    padding-left: 18px !important; }
    .icon-before.unlock:before {
      background-position: -78px -207px;
      width: 11px;
      height: 16px; }
    .icon-before.unlock.black:before {
      background-position: -61px 0; }
  .icon-before.status-tick {
    color: #21a825;
    padding-left: 18px !important;
    display: inline-block; }
    .icon-before.status-tick:before {
      background-position: -60px -22px;
      width: 14px;
      height: 14px; }
  .icon-before.gear {
    padding-left: 25px !important;
    display: inline-block; }
    .icon-before.gear:before {
      background-position: -74px -300px;
      width: 19px;
      height: 19px;
      margin-top: -8px; }

.icon-meta {
  position: relative;
  color: #aaaaaa; }
  .icon-meta:before {
    background: url(/ui/classes/icons/assets/canvas.png) no-repeat center center;
    content: "";
    display: inline-block;
    position: absolute;
    left: 3px;
    top: 50%;
    margin-top: -5px; }
  .icon-meta.views {
    padding-left: 18px !important; }
    .icon-meta.views:before {
      background-position: -3px -254px;
      width: 15px;
      height: 10px;
      margin-top: -5px; }
  .icon-meta.likes {
    padding-left: 17px !important; }
    .icon-meta.likes:before {
      background-position: -29px -254px;
      width: 12px;
      height: 10px;
      margin-top: -5px; }

.icon-sharing {
  text-indent: -5000em;
  text-align: left;
  display: inline-block;
  vertical-align: top;
  background: url(/ui/classes/icons/assets/canvas.png) no-repeat center center; }
  .icon-sharing.facebook {
    background-position: -3px -271px;
    width: 10px;
    height: 20px; }
  .icon-sharing.twitter {
    background-position: -25px -271px;
    width: 24px;
    height: 20px; }
  .icon-sharing.mail {
    background-position: -59px -271px;
    width: 22px;
    height: 20px; }
  .icon-sharing.share {
    background-position: -2px -298px;
    width: 27px;
    height: 20px; }

.icon-search-only {
  position: relative;
  text-indent: -5000em; }
  .icon-search-only:before {
    background: url(/ui/classes/icons/assets/canvas.png) no-repeat;
    background-position: -40px -300px;
    content: "";
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -8.5px;
    margin-left: -9px;
    width: 17px;
    height: 18px;
    margin-top: -15px\9; }

.icon-quote {
  position: relative;
  text-indent: -5000em;
  background: url(/ui/classes/icons/assets/canvas.png) no-repeat;
  background-position: 50px -324px;
  display: inline-block;
  width: 31px;
  height: 29px;
  vertical-align: bottom; }
  .icon-quote.start {
    background-position: -40px -324px;
    margin-right: 5px; }
  .icon-quote.end {
    background-position: -3px -324px;
    margin-left: 5px; }

.icon-social-signin {
  position: relative; }
  .icon-social-signin:before {
    display: inline-block;
    content: '';
    vertical-align: middle;
    background: url(/ui/classes/icons/assets/canvas.png) no-repeat;
    background-position: 0 -426px;
    width: 30px;
    height: 30px;
    margin-right: 15px; }
  .icon-social-signin.facebook {
    color: #3a5b9a !important; }
    .icon-social-signin.facebook:before {
      background-position: 0 -459px; }
  .icon-social-signin.google {
    color: #0067b8 !important; }
    .icon-social-signin.google:before {
      background-position: -34px -426px; }
  .icon-social-signin.twitter {
    color: #5ea9dd !important; }
    .icon-social-signin.twitter:before {
      background-position: -68px -459px; }
  .icon-social-signin.linkedin {
    color: #017bb7 !important; }
    .icon-social-signin.linkedin:before {
      background-position: -68px -426px; }
  .icon-social-signin.live {
    color: #ff4325 !important; }
    .icon-social-signin.live:before {
      background-position: -34px -459px; }
  .icon-social-signin.yahoo {
    color: #640f6c !important; }
    .icon-social-signin.yahoo:before {
      background-position: 0 -426px; }
