/*
  Module: Header
  Description: The header module contains the site logo and quick search feature.
*/

@import './ui/base/_includes/grid';
@import './ui/base/settings';
@import './ui/base/_includes/compass/css3';
@import './ui/base/_includes/placeholder';
@import './ui/base/_includes/fadein';
@import './ui/base/_includes/fadeout';

$module: '.header';

$bordersize: 8px;
$bordercolor: lighten($colorGrey2, 7%);

#{$module} {
  border-top: $bordersize solid $bordercolor;
  background: $colorGrey2;
  height: 80px;

  .logo {
    @include column(5);

    a {
      background: $colorBlue1;
      display: inline-block;
      padding: 14px 10px 10px;
      margin-top: -#{10 + $bordersize};
      border-top: $bordersize solid $colorBlue2;
      position: relative;
      @include transition(background-color .3s ease-out);

      &:hover {
        background: lighten($colorBlue1, 10%);
      }

      &:before, &:after {
        display: block;
        content: '';
        position: absolute;
        border-style: solid;
        border-width: $bordersize $bordersize 0 0;
        top: -$bordersize;
      }

      &:before {
        border-color: $bordercolor transparent transparent transparent;
        left: 0;
      }

      &:after {
        border-color: $colorBlue2 transparent transparent transparent;
        right: -$bordersize;
      }

      .line {
        position: absolute;
        left: 106px;
        top: 50%;
        margin-top: -3px;
        color: $colorBlue1;
        font: {
          size: .6em;
        }
        text-transform: uppercase;
        width: 110px;
      }
    }
  }

  .right {
    @include column(7);
    padding-top: 15px;
  }


  @media screen and (max-width: $screenSmall) {
    height: auto;
    border-top: none;

    .container {
      display: table;
      width: 100%;
    }

    .logo, .right {
      width: 100%;
      margin: 0;
    }

    .logo {
      border-top: $bordersize solid $bordercolor;
      margin-top: -3px;

      a {
        margin-top: -$bordersize;
      }
    }
    .right {
      display: table-header-group;
      padding: 0; margin: 0;
      overflow: hidden;

      .quicksearch {
        margin-top: -$bordersize;
        background: $colorBlue1;
        padding: 0 15px;
        overflow: hidden;
        max-height: 0;

        @include transition(all .5s cubic-bezier(0, 1, 0.5, 1));

        button {
          display: none;
        }

        input[type="text"] {
          background: $bordercolor;
          height:0;
          width: 100%;
          @include fadeOut( .5s );

          @include placeholder {
            color: lighten($colorGrey1, 25%);
          }
        }

        &.open {
          max-height: 90px;
          padding: 20px 15px;

          input[type="text"] {
            height: auto;
            display: block;
            @include fadeIn( .5s );
          }
        }
      }
    }

  }
}