{{> header/TopBar/topbar}}

<header class="header">
	<div class="container">
    <h2 class="logo">
      <a href="/">
        CBOE Title
      </a>
    </h2>

    <div class="right">
      {{> search/QuickSearch }}
    </div>
  </div>
</header>