/*
  Module: Header
  Description: The header module contains the site logo and quick search feature.
*/

@import './ui/base/_includes/grid';
@import './ui/base/settings';

$module: '.header';

#{$module} {
  border-top: 10px solid lighten($colorGrey2, 7%);
  background: $colorGrey2;

  .logo {
    @include column(4);
  }

  .right {
    @include column(6);
    padding-top: 20px;
  }
}