<section class="course-status">
  <div class="summary">
    <h3>{{{title}}}</h3>
    <div class="status">
      02/07/2014
      <span class="icon-before status-tick">
        Completed
      </span>
    </div>
  </div>

  {{{content}}}
</section>