/*
  Module: Search Generic
  Description: Generic customizable search form with a single field.
*/

@import './ui/base/settings';
@import './ui/base/_includes/compass/css3';

$module: '.search-generic';

#{$module} {
  input[type="text"] {
    width: 40%;
    margin: 0 10px;
  }

  &.focus {
    input[type="text"],
    label {
      font: {
        size: 1.1em;
      }
    }

    button, input[type="text"] {
      min-height: 30px;
      vertical-align: middle;
    }
  }

  @media all and (max-width: 600px) {
    input[type="text"], button {
      display: block;
      width: 100%;
      margin: 5px 0;
    }
  }
}