<div class="advert tall">

  <!-- Desktop ad placeholder -->
  <div class="hideonmobile">
    <a href="#">
      <img src="/ui/assets/images/placeholders/blank.gif"
      data-echo="/ui/assets/images/placeholders/advert-5.jpg">

      <noscript>
        <img src="/ui/assets/images/placeholders/advert-5.jpg">
      </noscript>
    </a>
  </div>
  <!-- /END Desktop ad placeholder -->
</div>