/*
  View: Homepage
  Description: Styling for homepage view.
*/

@import './ui/base/settings';
@import './ui/base/_includes/compass/css3';
@import './ui/base/_includes/grid';
@import './ui/base/_includes/clearfix';

$view: '.view-homepage';

#{$view} {

  .row {
    @include clearfix();
    margin: 20px 0;
    display: table;
    width: 100%;

    .column1, .column2 {
      display: table-cell;
      vertical-align: top;
      border-left: 7px solid $colorGrey2;
      border-right: 7px solid $colorGrey2;
    }

    .column1 {
      width: 66.666%;
    }

    .column2 {
      width: 33.333%;
    }
  }
}