<div class="ticker-bar">
  <div class="control right">
    <span class="icon-smallarrows right">Right</span>
  </div>
  <div class="control left">
    <span class="icon-smallarrows left">Left</span>
  </div>

  <section class="bar">
    <div class="inner">
      {{#each tickers}}
        {{> widgets/ticker/item}}
      {{/each}}
    </div>
  </section>
</div>