/*
  Module: Breadcrumb
  Description: Listed breadcrumb navigation with flyout on hover. Removed on mobile
*/

@import './ui/base/settings';
@import './ui/base/_includes/clearfix';
@import './ui/base/_includes/grid';
@import './ui/base/_includes/compass/css3';

$module: '.breadcrumbs';

#{$module} {
  margin: 20px 0;
  list-style: none;
  padding: 0 15px;
  width: 100%;

  >li {
    display: inline-block;
    padding: 0 10px;
    position: relative;

    &:first-child {
      padding-left: 0;
    }

    >a {
      display: inline-block;
      position: relative;
      color: $colorBlue1;
      text-decoration: underline;
      font: {
        weight: 700;
      }

      &:after {
        display: block;
        position: absolute;
        content: '';
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 3px 0 3px 5px;
        border-color: transparent transparent transparent lighten($colorGrey1, 40%);
        right: -15px;
        top: 50%;
        margin-top: -3px;
      }
    }

    @mixin active() {
      >a {
        color: $colorGrey1 !important;
        text-decoration: none;

        &:after {
          display: none;
        }
      }
    }

    &.active, &:last-child {
      @include active;
    }

    &.last-child {
      @include active;
    }

    ul {
      position: absolute;
      z-index: 50;
      left: -5000px;
      background: $colorBlue1;
      width: 150px;
      padding: 0;
      border-top: 4px solid $colorBlue2;
      display: none;

      li {
        display: block;
        padding: 0;

        a {
          display: block;
          width: 100%;
          padding: 6px 10px;
          color: #fff;

          &:hover, &:active {
            background: lighten($colorBlue1, 10%);
          }
        }
      }
    }

    &.show, &:hover {
      ul {
        left: 10px;
        display: block;
      }
    }
  }

  &.fixed {
    position: fixed;
    padding: 15px;
    top: 0;
    background: $colorGrey2;
    z-index: 100;
    margin: 0;

    &:before {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      background: $colorGrey2;
      height: 100%;
      width: 20px;
    }
    &:before {
      left: -20px;
    }
  }

  @media screen and (max-width: $screenSmallMax) {
    display: none;
  }

}