<div class="quote-overview">

  {{#each summary}}
    {{> widgets/quote-overview/summary}}
  {{/each}}

  <div class="tabs-wrapper">
    <div class="tabs-bar">
      {{#each items}}
        <div class="tab {{#if @first}} active {{/if}}" data-tabid="{{@index}}">
          {{@key}}
        </div>
      {{/each}}
    </div>

    <div class="tabs-content">
      {{#each items}}
        <dl class="tab data {{#if @first}} active {{/if}}" data-tabid="{{@index}}">
          {{{this}}}
        </dl>
      {{/each}}
    </div>
  </div>
</div>