/*
  Module: TV Widget .player
  Description: Large player for single video with detaileed title and description.
*/
.widget-tv.player .title {
  border-bottom: 3px solid #12b7ed;
  padding-bottom: 10px;
  position: relative;
  margin: 0 0 20px; }
  .widget-tv.player .title h2 {
    font-size: 1.8em;
    margin: 0; }
    .widget-tv.player .title h2 .disclaimer {
      display: inline-block;
      width: 250px;
      font-size: 0.4em;
      color: #135fad; }
      .widget-tv.player .title h2 .disclaimer:hover, .widget-tv.player .title h2 .disclaimer:active {
        color: #313538; }
  .widget-tv.player .title .subscribe {
    position: absolute;
    right: 0;
    top: 0; }
.widget-tv.player .prow {
  display: table;
  table-layout: fixed;
  width: 100%; }
  .widget-tv.player .prow .player, .widget-tv.player .prow .meta {
    display: table-cell;
    vertical-align: top; }
  .widget-tv.player .prow .player {
    width: 70%; }
  .widget-tv.player .prow .meta {
    width: 30%;
    padding-left: 20px; }
    .widget-tv.player .prow .meta .sharing {
      text-align: right;
      position: relative;
      z-index: 1; }
      .widget-tv.player .prow .meta .sharing .split {
        display: inline-block;
        vertical-align: top;
        width: 1px;
        height: 20px;
        background: #dddddd;
        margin: 0 5px; }
    .widget-tv.player .prow .meta .nowplaying {
      color: #135fad;
      text-transform: uppercase;
      font-size: 1em;
      margin-top: -10px; }
    .widget-tv.player .prow .meta h2 {
      font-size: 1em;
      margin: 0; }
    .widget-tv.player .prow .meta p {
      margin: 0; }
@media all and (max-width: 767px) {
  .widget-tv.player .prow .meta .advert, .widget-tv.player .prow .meta .ad {
    display: none; } }
@media all and (max-width: 600px) {
  .widget-tv.player .prow {
    display: block; }
    .widget-tv.player .prow .meta, .widget-tv.player .prow .player {
      display: block;
      width: 100%; }
    .widget-tv.player .prow .meta {
      padding-left: 0;
      margin-top: 10px; }
  .widget-tv.player .title h2 .disclaimer {
    display: block;
    width: 100%;
    padding-top: 3px; } }
