/*
  Module: Quote
  Description: Quote component, supports a single quote at this time.
*/

@import './ui/base/settings';
@import './ui/base/_includes/compass/css3';

$module: '.quote';

#{$module} {
  .quoted {
    margin: 10px 0;
    font: {
      size: 1.6em;
      style: italic;
      weight: 300;
    }
    color: lighten($colorGrey1, 50%);
    line-height: 1.5em;
  }

  .author {
    text-align: right;

    .title {
      margin-left: -3px;
    }

    .organisation {
      display: block;
    }
  }
}