<nav class="side-navigation">
  <ul>
    <li>
      <a href="#">
        Delayed Quotes
      </a>

      <ul>
        <li>
          <a href="#">
            Detailed Quotes
          </a>
        </li>
        <li>
          <a href="#">
            Multiple Quotes
          </a>
        </li>
        <li>
          <a href="#">
            Futures
          </a>
        </li>
        <li>
          <a href="#">
            Delayed Option Chains
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>