<nav class="side-navigation">
  <ul>
    <li>
      <a href="#">
        Products
      </a>

      <ul>
        <li>
          <a href="#">
            Indexes
          </a>
        </li>
        <li>
          <a href="#">
            Equities
          </a>
        </li>
        <li>
          <a href="#">
            Minis
          </a>
        </li>
        <li>
          <a href="#">
            Exchange Traded Products
          </a>
        </li>
        <li>
          <a href="#">
            Weeklys
          </a>
        </li>
        <li>
          <a href="#">
            Quarterlys
          </a>
        </li>
        <li>
          <a href="#">
            FLEX / CFLEX
          </a>
        </li>
        <li>
          <a href="#">
            LEAPS
          </a>
        </li>
        <li>
          <a href="#">
            Credit
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>