<div class="widget-title qnd-title {{#each classes}} {{this}} {{/each}}">
  <select>
    <option>
      VIX
    </option>
    <option>
      VIX
    </option>
    <option>
      VIX
    </option>
    <option>
      VIX
    </option>
  </select>
  <h1>
    {{title}}
  </h1>

  <!-- search here -->
</div>