<div class="widget-title qnd-title {{#each classes}} {{this}} {{/each}}">
  <div class="left">
    <select>
      <option>
        VIX
      </option>
      <option>
        VIX
      </option>
      <option>
        VIX
      </option>
      <option>
        VIX
      </option>
    </select>
    <h1>
      {{title}}
    </h1>
  </div>

  <div class="search-component">
    {{> search/quicksearch}}
  </div>
</div>