/*
  Module: Q&D Title
  Description: Quotes and Data custom widget title element.
*/

@import './ui/base/settings';
@import './ui/base/_includes/grid';
@import './ui/base/_includes/compass/css3';

$module: '.qnd-title';

#{$module} {
  @include innerRow();
  .search-component, .left {
  }

  .left {
    @include column(7);
    padding-left: 0;

    &>h1, &>select {
      margin: 0;
      display: inline-block;
      vertical-align: middle;
    }

    &>select {
      margin-right: 10px;
    }
  }

  .search-component {
    @include column(5);
    padding-right: 0;
    margin-top: -10px;
  }

  @media all and (max-width: $screenSmallMax) {
    display: table;
    width: 100%;

    .left, .search-component {
      padding: 0;
    }

    .left {
      padding-top: 10px;
      display: table-footer-group;
    }

    .search-component {
      display: table-header-group;
    }
  }

  @media print {
    .search-component {
      display: none;
    }

    .left {
      width: 100%;
    }
  }
}