<div class="widget-title qnd-title {{#each classes}} {{this}} {{/each}}">
  <div class="left">
    {{#if select}}
    <select>
      {{#each select}}
        <option value="{{this.value}}">
          {{this.text}}
        </option>
      {{/each}}
    </select>
    {{/if}}
    <h1>
      {{title}}
    </h1>
  </div>

  {{#unless noSearch}}
    <div class="search-component">
      {{> search/quicksearch}}
    </div>
  {{/unless}}
</div>