/*
  Module: Content Block
  Description: A content block holder using an article node.
*/

@import './ui/base/settings';
@import './ui/base/_includes/grid';
@import './ui/base/_includes/compass/css3';
@import './ui/base/_includes/animation/fadein';

$module: 'article.content';

#{$module} {
  a {
    color: $colorBlue1;

    &:hover, &:active {
      color: $colorGrey1;
    }
  }
}