/*
  Class: Tooltip Class
  Description: Tooltips can be applied against any component with simple data attributes.
*/
@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-o-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-ms-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

.qtip-content a {
  color: #135fad; }
  .qtip-content a:hover, .qtip-content a:active {
    color: #313538; }

@media print {
  .qtip {
    display: none !important; } }
