/*
  Module: Table
  Description: Controlled table component allowing for hide functionality on mobile.
*/

@import './ui/base/settings';
@import './ui/base/_includes/compass/css3';
@import './ui/base/_includes/grid';
@import './ui/base/_includes/clearfix';
@import './ui/base/_includes/fadein';

$module: '.table';


.table-title {
  @include clearfix();

  .title {
    float: left;
    font: {
      weight: 400;
      size: 1.8em;
    }
    margin: 0;
  }

  .right {
    float: right;
    margin-top: 7px;
    text-transform: uppercase;
    font: {
      weight: 700;
    }
  }

  @media all and (max-width: $screenSmallMax) {
    .title, .right {
      display: block;
      float: none;
      margin: 0;
    }

    .right {
      margin-bottom: 10px;
    }
  }
}

#{$module} {
  width: 100%;

  border-collapse: collapse;

  a {
    color: $colorBlue1;

    &:hover, &:active {
      color: $colorGrey1;
    }
  }

  thead {
    font: {
      size: .9em;
    }

    text-align: left;
  }

  tbody {
    tr {
      border-bottom: 1px solid darken($colorGrey2, 0%);

      &.higlighted {
        background: {
          color: $colorGreenHighlight !important; // Overide any other background color style set on the row
        }
      }

      td {
        padding: 1px 2px;

        &.bold {
          font-weight:bold;
        }
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }

  td, th {
    text-align: left;
  }

  .onlymobile {
    display:none;
  }

  &.last-right {
    td, th {
      &:last-child {
        text-align: right;
      }
    }
  }

  &.width90 {
    margin: 0 0 0 5%;
    width: 90%;
  }

  &.larger {
    font: {
      size: 1.25em;
      weight: 700;
    }

    td {
      padding: 10px 2px;
    }
  }

  &.padvertical {
    tbody, thead, tfoot {
      tr {
        td, th {
          padding-top: 5px;
          padding-bottom: 5px;
        }
      }
    }
  }
  &.padhorizontal {
    tbody, thead, tfoot {
      tr {
        td, th {
          padding-left: 10px;
          padding-right: 10px;
        }
      }
    }
  }

  &.center {
    th, td {
      text-align: center;
    }
  }

  &.oddeven {
    > thead {
      > tr {
        background: $colorGrey2
      }
    }

    tr:nth-child(even) {
      background: lighten($colorGrey2, 5%);
    }
    tr:nth-child(odd) {
      background: #fff;
    }
  }

  &.cellborders {
    tr {
      border-bottom: 1px solid darken($colorGrey2, 6%);

      &:first-child {
        border-top: 1px solid darken($colorGrey2, 6%);
      }
      &:last-child {
        border-bottom: 1px solid darken($colorGrey2, 6%);
      }
    }

    td, th {
      border-right: 1px solid darken($colorGrey2, 6%);

      &:first-child {
        border-left: 1px solid darken($colorGrey2, 6%);
      }
    }
  }

  &.inner-cellborders {
    tr {
      border-bottom: 1px solid darken($colorGrey2, 6%);
      &:last-child {
        border-bottom: 1px solid darken($colorGrey2, 6%);
      }
    }

    td, th {
      border-left: 1px solid darken($colorGrey2, 6%);
      &:first-child {
        border-left:none;
      }
    }
  }

  &.light-header {
    > thead {
      > tr {
        &:nth-child(even),
        &:nth-child(odd) {
          background: #fff;
        }
      }
    }
  }

  &.data-table {
    tr {
      td {
        width:25%;
      }
      td:nth-child(4n-2) {
        text-align:right;
        padding-right:50px;
      }
    }

    margin-bottom:30px;
    border-width:1px 0;
    border-style:solid none;
    border-color:$colorGrey2;

    &.nomarbottom {
      margin-bottom:0px;
    }
  }

  &.symbol-list {
    th:first-child + th, td:first-child + td {
      border-left:none;
    }
  }


  @media all and (max-width: $screenSmallMax) {
    @include opacity(0);

    &.mobile-load {
      @include fadeIn( .6s );
      @include opacity(1);
    }
    &.padhorizontal {
      tbody, thead, tfoot {
        tr {
          td, th {
            padding-left: 5px;
            padding-right: 5px;
          }
        }
      }
    }

    &.data-table {
      border-bottom:none;

      tr {
        width:100%;
        border-bottom:0;
        td {
          width: 49.5%;
          display:inline-block;
          border-bottom: 1px solid $colorGrey2;
          float: left;

          &.nomobile {
            display:none;
          }
        }
        td:nth-child(2n) {
          text-align:right;
          padding-right:0px;
        }
      }

      &.oddeven {
        tr:nth-child(even) {
          background:#fff;
        }
        tr {
          td:nth-child(2n) {
            border-bottom: 1px solid $colorGrey2;
          }
          td:nth-child(3n), td:nth-child(4n) {
            background: lighten($colorGrey2, 5%);
          }
        }
      }
    }

    .nomobile {
      display: none;
    }

    .onlymobile {
      display: table-cell;
    }

    th, td {
      padding: inherit 4px;
    }
  }
}