<form class="register-form">

  <fieldset>
    <div class="twocol">
      <div class="col">
        <label for="fname">First Name:</labeL>
        <input type="text" name="fname">
      </div>
      <div class="col">
        <label for="lname">Last Name:</labeL>
        <input type="text" name="lname">
      </div>
    </div>

    <div class="twocol">
      <div class="col">
        <label for="email">Email Address:</labeL>
        <input type="email" name="email">
      </div>
      <div class="col">
        <label for="confirm-email">Confirm Email Address:</labeL>
        <input type="email" name="confirm-email">
      </div>
    </div>

    <div class="twocol">
      <div class="col">
        <label for="uid">User ID:</labeL>
        <input type="text" name="uid">
      </div>
      <div class="col">
        <label for="yob">Year of birth:</labeL>
        <select name="yob">
          <option default="default">YYYY</option>
          <option>1950</option>
        </select>
      </div>
    </div>

    <div class="twocol">
      <div class="col">
        <label for="password">Password:</labeL>
        <input type="password" name="password">
      </div>
      <div class="col">
        <label for="confirm-password">Confirm Password:</labeL>
        <input type="password" name="confirm-password">
      </div>
    </div>

  </fieldset>

  <div class="buttons">
    <button type="submit" class="button green">
      Login
    </button>

    <a href="#" class="button grey">
      Forgot Password?
    </a>
  </div>

</form>