<form class="symbol-form">
  <input type="text" name="symbol">

  <div class="buttons">
    <button type="submit" class="button blue">
      Submit
    </button>

    <button type="reset">
      Reset
    </button>
  </div>

</form>