<section class="form symbol-form">
  <div>
    <label class="inline-block small">
      <input type="radio" name="type" checked="checked">
      begins with
    </label>
    <label class="inline-block small">
      <input type="radio" name="type">
      contains
    </label>
  </div>

  <input type="text" name="symbol">

  <div class="buttons">
    <button type="submit" class="button blue">
      Search Symbols
    </button>

    <button type="reset">
      Reset
    </button>
  </div>

</section>