<section class="form company-form">
  <input type="text" name="company">

  <div class="buttons">
    <button type="submit" class="button blue">
      Get Symbol
    </button>

    <button type="reset">
      Reset
    </button>
  </div>
</section>