
{{#if search}}
<form class="search">
  <div class="input">
    <input type="text" placeholder="Search {{search.title}}..." name="search-sidebar">
    <button type="submit" class="icon-search-only">Search</button>
  </div>
</form>
{{/if}}