
{{#if search}}
<section class="form search">
  <div class="input">
    <input type="text" placeholder="Search {{search.title}}..." name="search-sidebar">
    <button type="submit" class="icon-search-only">Search</button>
  </div>
</section>
{{/if}}