<div class="snapshot">

  <div class="loading">
    Loading...
  </div>

  <div class="graph text-center">
    <img src="/ui/assets/images/placeholders/blank.gif" data-echo="/ui/assets/images/placeholders/qnd-snapshot.jpg" alt="">
  </div>

</div>