/*
  Module: Widgets
  Description: Base style wrapper for widget elements
*/
@-moz-document url-prefix() {
  .widget {
    -webkit-box-shadow: inset 0 4px 0 #12b7ed, inset 0 0 0 1px #c4c4c4 !important;
    -moz-box-shadow: inset 0 4px 0 #12b7ed, inset 0 0 0 1px #c4c4c4 !important;
    -ms-box-shadow: inset 0 4px 0 #12b7ed, inset 0 0 0 1px #c4c4c4 !important;
    -o-box-shadow: inset 0 4px 0 #12b7ed, inset 0 0 0 1px #c4c4c4 !important;
    box-shadow: inset 0 4px 0 #12b7ed, inset 0 0 0 1px #c4c4c4 !important; }
    .widget:before {
      display: none !important; }
    .widget.noborders {
      -webkit-box-shadow: inset 0 4px 0 #12b7ed !important;
      -moz-box-shadow: inset 0 4px 0 #12b7ed !important;
      -ms-box-shadow: inset 0 4px 0 #12b7ed !important;
      -o-box-shadow: inset 0 4px 0 #12b7ed !important;
      box-shadow: inset 0 4px 0 #12b7ed !important; } }

.widget {
  background: white;
  padding: 14px 10px 10px;
  position: relative;
  -webkit-box-shadow: inset 0 0 0 1px #c4c4c4;
  -moz-box-shadow: inset 0 0 0 1px #c4c4c4;
  -ms-box-shadow: inset 0 0 0 1px #c4c4c4;
  -o-box-shadow: inset 0 0 0 1px #c4c4c4;
  box-shadow: inset 0 0 0 1px #c4c4c4;
  border: 1px solid #dddddd \9; }
  .widget.noborders {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    border: none\9; }
  .widget:before {
    display: block;
    content: '';
    position: absolute;
    top: 0px;
    left: 0;
    background: #12b7ed;
    width: 100%;
    height: 4px; }
  .widget h3 {
    font-size: 1.3em; }
  .widget.nostyle {
    background: none;
    border: none;
    padding: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none; }
    .widget.nostyle:before {
      display: none; }
  @media screen and (max-width: 767px) {
    .widget {
      margin: 10px 0; } }

.widget-title {
  border-bottom: 1px solid #dddddd;
  padding: 0 0 10px 0;
  margin: 0 0 15px 0;
  position: relative;
  *zoom: 1; }
  .widget-title:before, .widget-title:after {
    content: " ";
    display: table; }
  .widget-title:after {
    clear: both; }
  .widget-title.blueborder {
    border-bottom: 3px solid #12b7ed; }
  .widget-title.subwidget {
    border-bottom: 0;
    font-size: 0.9em;
    text-transform: uppercase;
    color: #135fad;
    margin: 0 0 3px;
    padding: 0 0 5px; }
    .widget-title.subwidget ~ .subwidget {
      border-top: 1px solid #dddddd;
      padding-top: 20px;
      margin-top: 10px; }
  .widget-title .promo {
    float: right; }
    .widget-title .promo a {
      color: #135fad;
      text-transform: uppercase;
      font-size: 10px; }
      .widget-title .promo a:hover, .widget-title .promo a:active {
        color: #313538; }
      .widget-title .promo a.button {
        color: white;
        text-transform: none; }
    .widget-title .promo .optionshub {
      margin-top: -4px; }
  @media all and (max-width: 767px) {
    .widget-title {
      *zoom: 1; }
      .widget-title:before, .widget-title:after {
        content: " ";
        display: table; }
      .widget-title:after {
        clear: both; } }
