/*
  Module: Snapshot Widget
  Description: Market snapshot widget designed to be connected with Market API.
*/
@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-o-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-ms-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

.snapshot .graph {
  position: relative;
  padding: 0 1px 1px 1px;
  border: 1px solid #dddddd;
  /* settings while loading */
  position: absolute;
  left: -5000em;
  width: 200px; }
  .snapshot .graph .images, .snapshot .graph .image {
    overflow: hidden; }
    .snapshot .graph .images.crop img, .snapshot .graph .image.crop img {
      width: auto;
      float: right; }
    .snapshot .graph .images img, .snapshot .graph .image img {
      width: 100%;
      max-width: none !important; }
  .snapshot .graph .button {
    position: absolute;
    top: -46px;
    right: 0; }
    @media screen and (max-width: 950px) {
      .snapshot .graph .button {
        display: block;
        position: relative;
        text-align: center;
        margin: -10px 0 10px 0;
        top: 0; } }
  .snapshot .graph .siderail {
    display: table;
    table-layout: fixed;
    width: 100%;
    background: #135fad;
    list-style: none;
    margin: 0;
    padding: 0; }
    .snapshot .graph .siderail li {
      display: table-cell;
      position: relative;
      width: 20%;
      color: #798289;
      font-weight: 700; }
      .snapshot .graph .siderail li a {
        display: block;
        height: 100%;
        color: white;
        padding: 0 5px;
        vertical-align: middle;
        position: relative;
        line-height: 25px; }
        .snapshot .graph .siderail li a:hover {
          background: #166dc4; }
        .snapshot .graph .siderail li a.active {
          background: white;
          color: #313538; }
  .snapshot .graph .images {
    text-align: right;
    line-height: 0;
    overflow: hidden;
    position: relative; }
    .snapshot .graph .images .image {
      position: absolute;
      left: -5000em; }
      .snapshot .graph .images .image img {
        display: inline-block; }
        .snapshot .graph .images .image img.tablet, .snapshot .graph .images .image img.mobile {
          display: none; }
      .snapshot .graph .images .image.active {
        position: relative;
        left: 0;
        -moz-animation: fadeIn 1s;
        -webkit-animation: fadeIn 1s;
        -o-animation: fadeIn 1s;
        -ms-animation: fadeIn 1s;
        animation: fadeIn 1s; }
.snapshot .loading {
  width: 100%;
  vertical-align: middle;
  height: 180px;
  text-align: center;
  line-height: 170px;
  font-weight: 700;
  color: #798289; }
.snapshot.loaded .graph {
  left: 0;
  position: relative;
  -moz-animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
  animation: fadeIn 1s;
  width: auto; }
.snapshot.loaded .loading {
  display: none; }
.snapshot h3 {
  margin: 4px 0;
  font-size: 1em !important; }
.snapshot .volume {
  margin: 0;
  list-style: none;
  padding: 0;
  *zoom: 1;
  display: table;
  width: 100%; }
  .snapshot .volume:before, .snapshot .volume:after {
    content: " ";
    display: table; }
  .snapshot .volume:after {
    clear: both; }
  .snapshot .volume li {
    display: table-cell;
    text-align: center;
    width: 20%;
    border-left: 1px solid #dddddd;
    vertical-align: bottom;
    line-height: 1em; }
    .snapshot .volume li:first-child {
      border-left: none; }
    .snapshot .volume li .before {
      font-weight: 700;
      font-size: 0.75em; }
    .snapshot .volume li h5 {
      font-size: 1.1em;
      font-weight: 400;
      font-family: "Arial Black", Gadget, sans-serif;
      margin: 0; }
    .snapshot .volume li .negative, .snapshot .volume li .positive {
      font-size: 0.9em;
      font-weight: 700; }
    .snapshot .volume li .negative {
      color: #b7120b; }
    .snapshot .volume li .positive {
      color: #21a825; }
.snapshot .title h2, .snapshot .title a {
  display: inline-block;
  margin: 0; }
.snapshot .title a {
  color: #135fad;
  margin-left: 10px; }
  .snapshot .title a:hover, .snapshot .title a:active {
    color: #313538; }
.snapshot .title .meta {
  float: right; }
  .snapshot .title .meta > span {
    font-size: 1.4em;
    font-weight: 700; }
  .snapshot .title .meta .data {
    display: inline-block;
    vertical-align: top;
    font-size: 0.8em;
    line-height: 1em; }
    .snapshot .title .meta .data span {
      display: block; }
@media all and (max-width: 767px) {
  .snapshot .title .meta {
    float: none;
    display: block;
    text-align: right;
    margin-top: 5px; }
  .snapshot .graph .images .image img {
    float: none; }
    .snapshot .graph .images .image img.desktop {
      display: none; }
    .snapshot .graph .images .image img.tablet {
      display: block; } }
@media all and (max-width: 500px) {
  .snapshot .graph .images .image img.desktop, .snapshot .graph .images .image img.tablet {
    display: none; }
  .snapshot .graph .images .image img.mobile {
    display: block; } }
