/*
  Module: TV Widget .player
  Description: Large player for single video with detaileed title and description.
*/

@import './ui/base/settings';
@import './ui/base/_includes/compass/css3';
@import './ui/base/_includes/grid';
@import './ui/base/_includes/clearfix';
@import './ui/base/_includes/responsiveembed';

$module: '.widget-tv.player';

#{$module} {
  .title {
    border-bottom: 3px solid $colorBlue2;
    padding-bottom: 10px;
    margin: 0 0 20px;
    position: relative;

    h2 {
      font: {
        size: 1.8em;
      }
      margin: 0;

      .disclaimer {
        display: inline-block;
        width: 250px;
        font: {
          size: .4em;
        }
        color: $colorBlue1;

        &:hover, &:active {
          color: $colorGrey1;
        }
      }
    }

    .subscribe {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .prow {
    display: table;
    table-layout: fixed;
    width: 100%;

    .player, .meta {
      display: table-cell;
      vertical-align: top;
    }

    .player {
      width: 70%;
    }

    .meta {
      width: 30%;
      padding-left: 20px;

      .sharing {
        text-align: right;
        position: relative;
        z-index:1;

        .split {
          display: inline-block;
          vertical-align: top;
          width: 1px;
          height: 20px;
          background: $colorGrey2;
          margin: 0 5px;
        }
      }

      .nowplaying {
        color: $colorBlue1;
        text-transform: uppercase;
        font: {
          size: 1em;
        }
        margin-top: -10px;

        padding-bottom: 5px;
        border-bottom: 1px solid $colorGrey2;
      }

      h2 {
        font: {
          size: 1.6em;
        }
        margin: 0;
      }

      .category {
        color: $colorBlue1;
        margin: 0 0 15px;
        font: {
          size: 1.2em;
        }
      }

      p {
        margin: 0;
      }
    }
  }

  .next {
    clear: both;
    padding-top: 10px;
    border-top: 1px solid $colorGrey2;
    margin-top: 15px;
    color: $colorBlue1;

    &>.vid-title {
      display: block;
      color: $colorGrey1;
      font: {
        size: 1.1em;
      }
    }
  }


  @media all and (max-width: $screenSmallMax) {
    .prow {
      .meta {
        .advert, .ad {
          display: none;
        }
      }
    }
  }

  @media all and (max-width: 600px) {
    .prow {
      display: block;

      .meta, .player {
        display: block;
        width: 100%;
      }

      .meta {
        padding-left: 0;
        margin-top: 10px;
      }
    }

    .title {
      h2 {
        .disclaimer {
          display: block;
          width: 100%;
          padding-top: 3px;
        }
      }
    }
  }
}