{{#unless noad}}
  <div class="hideonmobile">
    {{> ads/span/slim-dark}}
  </div>
{{/unless}}

{{> header/header}}

<div class="body view-twocol">
  <div class="container">

    <section class="topspan">
      {{#each topspan}}
        {{{this}}}
      {{/each}}
    </section>

    <section class="main">

      <div class="col1">
        {{#each col1}}
          {{{this}}}
        {{/each}}
      </div>

      <div class="col2">
        {{#each col2}}
          {{{this}}}
        {{/each}}
      </div>

    </section>

    {{#if bottomspan}}
      <section class="bottomspan">
        {{#each bottomspan}}
          {{{this}}}
        {{/each}}
      </section>
    {{/if}}

  </div>
</div>

{{> footer/footer}}