/*
  Module: TV Widget .row
  Description: This allows for multiple rows of video thumbnails.
*/
.widget-tv.row {
  margin: 20px 0; }
  .widget-tv.row .title {
    display: table;
    table-layout: fixed;
    width: 100%;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 10px; }
    .widget-tv.row .title h2, .widget-tv.row .title .viewall {
      display: table-cell;
      vertical-align: top; }
    .widget-tv.row .title h2 .total {
      color: #135fad; }
      .widget-tv.row .title h2 .total:hover, .widget-tv.row .title h2 .total:active {
        color: #313538; }
    .widget-tv.row .title .viewall {
      text-align: right;
      color: #135fad; }
      .widget-tv.row .title .viewall:hover, .widget-tv.row .title .viewall:active {
        color: #313538; }
  .widget-tv.row .items {
    display: table;
    table-layout: fixed;
    width: 100%;
    margin: 20px 0; }
    .widget-tv.row .items .item {
      display: table-cell;
      vertical-align: top;
      padding: 10px; }
      .widget-tv.row .items .item img {
        max-height: 220px;
        background: #f7f7f7; }
  .widget-tv.row .meta {
    margin: 10px 0; }
  @media screen and (max-width: 900px) {
    .widget-tv.row .items .item {
      padding: 5px; }
      .widget-tv.row .items .item h3 {
        font-size: 1.1em; } }
  @media screen and (max-width: 500px) {
    .widget-tv.row .items {
      overflow-x: scroll;
      white-space: nowrap;
      display: block; }
      .widget-tv.row .items .item {
        padding: 5px;
        padding: 5px;
        display: inline-block;
        white-space: normal;
        width: 91%; }
        .widget-tv.row .items .item h3 {
          font-size: 1.1em; } }
