/*
  Module: TV Widget .row
  Description: This allows for multiple rows of video thumbnails.
*/
.widget-tv.row {
  margin: 20px 0; }
  .widget-tv.row .title {
    display: table;
    table-layout: fixed;
    width: 100%;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 10px; }
    .widget-tv.row .title h2, .widget-tv.row .title .viewall {
      display: table-cell;
      vertical-align: top; }
    .widget-tv.row .title h2 .total {
      color: #135fad; }
      .widget-tv.row .title h2 .total:hover, .widget-tv.row .title h2 .total:active {
        color: #313538; }
    .widget-tv.row .title .viewall {
      text-align: right;
      color: #135fad; }
      .widget-tv.row .title .viewall:hover, .widget-tv.row .title .viewall:active {
        color: #313538; }
      .widget-tv.row .title .viewall.shown {
        color: #b7120b; }
        .widget-tv.row .title .viewall.shown:before {
          content: "\00D7";
          display: inline; }
  .widget-tv.row .items {
    width: auto;
    max-width: none;
    min-width: 0;
    margin: 0 -15px;
    *zoom: 1;
    width: 100%;
    margin: 20px 0; }
    .widget-tv.row .items:before, .widget-tv.row .items:after {
      content: " ";
      display: table; }
    .widget-tv.row .items:after {
      clear: both; }
    .widget-tv.row .items .item {
      float: left;
      position: relative;
      min-height: 1px;
      padding: 0 15px;
      width: 25%;
      padding: 10px; }
      @media only screen and (max-width: 767px) {
        .widget-tv.row .items .item {
          float: none;
          width: auto; } }
      @media only screen and (max-width: 767px) {
        .widget-tv.row .items .item {
          float: left;
          width: 50%;
          padding: 0 15px; } }
      .widget-tv.row .items .item + .item + .item + .item + .item {
        display: none; }
      .widget-tv.row .items .item img {
        max-height: 220px;
        background: #f7f7f7; }
    .widget-tv.row .items .showWithAll {
      display: none;
      clear: both; }
  .widget-tv.row .meta {
    margin: 10px 0; }
  @media screen and (max-width: 900px) {
    .widget-tv.row .items .item {
      padding: 5px; }
      .widget-tv.row .items .item h3 {
        font-size: 1.1em; } }
  @media screen and (max-width: 500px) {
    .widget-tv.row .items {
      max-height: 500px;
      overflow-y: scroll; }
      .widget-tv.row .items .item h3 {
        font-size: 1.1em; }
      .widget-tv.row .items .item p {
        display: none; } }
