/*
  Module: Login Span
  Description: This small module spans horizontally to call out for register/login to a user.
*/

@import './ui/base/settings';
@import './ui/base/_includes/compass/css3';

$module: '.login-span';

#{$module} {
  width: 100%;
  display: block;
  text-align: center;
  padding: 10px;
  background: darken($colorGrey2, 5%);
  font: {
    weight: 700;
    size: 1.1em;
  }

  a {
    color: $colorBlue1;
    text-decoration: underline;

    &:hover, &:active {
      color: $colorGrey1;
      text-decoration: none;
    }
  }
}