/*
	Class: Buttons
	Description: Buttons class to be used globally and extended from.
*/

@import './ui/base/settings';
@import './ui/base/_includes/compass/css3';

$class: '.button';

#{$class} {
  background: $colorBlue1;
  display: inline-block;
  @include border-radius(3px);
  padding: 5px 20px;
  font: {
    size: 1em;
    weight: 600;
  }
  text-decoration: none;
  color: #fff;
  border: none;
  @include box-shadow(1px 1px 0 rgba(0,0,0,.1));

  &:hover {
    color: #fff;
  }

  a {
    color: #fff !important;
    font: {
      weight: 700;
    }
    display: inline-block;
    margin: -5px -20px;
    padding: 5px 20px;
  }

  &:hover {
    background: lighten($colorBlue1, 10%);
    text-decoration: none;
  }

  &.green {
    background: $colorGreen1;
    color: #fff;

      &:hover {
        color: #fff;
        background: lighten($colorGreen1, 10%);
      }
  }

  &.white {
    background: #fff;
    color: $colorBlue1;

      &:hover {
        background: darken(#fff, 10%);
      }
  }

  &.grey {
    background: lighten($colorGrey1, 30%);

    &:hover {
      background: $colorGrey1;
    }
  }
}