/*
	Class: Icons
	Description: Contains generic items that can be used in various areas across the site.
*/

@import './ui/base/settings';
@import './ui/base/_includes/compass/css3';

$classPrefix: '.icon-';

#{$classPrefix}social {
  background: url(/ui/classes/icons/assets/social.jpg) no-repeat top left;
  text-indent: -5000em;
  color: rgba(19, 95, 173, 0) !important;
  width: 20px;
  height: 20px;
  text-align: left;
  display: inline-block;

  &.twitter {
    background-position: -3px 0;
  }
  &.youtube {
    background-position: -29px 0;
  }
  &.facebook {
    background-position: -55px 0;
  }
  &.linkedin {
    background-position: -80px 0;
  }
  &.ios {
    background-position: -105px 0;
  }
  &.rss {
    background-position: -133px 0;
  }
}

#{$classPrefix}logo {
  text-indent: -5000em;
  color: rgba(19, 95, 173, 0) !important;
  text-align: left;
  display: inline-block;

  &.tradestation {
    background: url(/ui/classes/icons/assets/logo-tradestation.jpg) no-repeat top left;
    width: 83px;
    height: 16px;
  }
  &.optionshub {
    background: url(/ui/classes/icons/assets/logo-cboe_options_hub.jpg) no-repeat top left;
    width: 98px;
    height: 27px;
  }

  &.cboe {
    background: url(/ui/classes/icons/assets/logo.png) no-repeat center center;
    width: 73px;
    height: 26px;
  }
}