/*
  Class: Icons
  Description: Contains generic items that can be used in various areas across the site.
*/

@import './ui/base/settings';
@import './ui/base/_includes/compass/css3';

$classPrefix: '.icon-';

#{$classPrefix}social {
  background: url(/ui/classes/icons/assets/social.jpg) no-repeat top left;
  text-indent: -5000em;
  color: rgba(19, 95, 173, 0) !important;
  width: 20px;
  height: 20px;
  text-align: left;
  display: inline-block;

  &.twitter {
    background-position: -3px 0;
  }
  &.youtube {
    background-position: -29px 0;
  }
  &.facebook {
    background-position: -55px 0;
  }
  &.linkedin {
    background-position: -80px 0;
  }
  &.ios {
    background-position: -105px 0;
  }
  &.rss {
    background-position: -133px 0;
  }
}

#{$classPrefix}logo {
  text-indent: -5000em;
  color: rgba(19, 95, 173, 0) !important;
  text-align: left;
  display: inline-block;

  &.tradestation {
    background: url(/ui/classes/icons/assets/canvas.png) no-repeat center center;
    background-position: 0 -180px;
    width: 83px;
    height: 16px;
  }
  &.optionshub {
    background: url(/ui/classes/icons/assets/canvas.png) no-repeat center center;
    background-position: 0 -128px;
    width: 98px;
    height: 27px;
  }

  &.cboe {
    background: url(/ui/classes/icons/assets/canvas.png) no-repeat center center;
    background-position: 0 -78px;
    width: 73px;
    height: 26px;
  }
}

#{$classPrefix}arrows {
  background: url(/ui/classes/icons/assets/canvas.png) no-repeat center center;
  text-indent: -5000em;
  color: rgba(19, 95, 173, 0) !important;
  text-align: left;
  display: inline-block;
  width: 23px;
  height: 44px;

  &.right {
    background-position: 0 0;
  }
  &.left {
    background-position: -23px 0;
  }
}

#{$classPrefix}smallarrows {
  background: url(/ui/classes/icons/assets/canvas.png) no-repeat center center;
  text-indent: -5000em;
  color: rgba(19, 95, 173, 0) !important;
  text-align: left;
  display: inline-block;
  width: 13px;
  height: 9px;

  &.up {
    background-position: -17px -51px;
  }

  &.down {
    background-position: -1px -51px;
  }

  &.right {
    background-position: -86px -50px;
    width: 9px;
    height: 13px;
  }

  &.left {
    background-position: -67px -50px;
    width: 9px;
    height: 13px;
  }
}

#{$classPrefix}css-arrows {
  > li > a, > a {
    position: relative;
    padding-left: 15px;

    &:before {
      display: inline-block; content: ''!important;
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 6px 0 6px 7px;
      border-color: transparent transparent transparent #000;
      margin: 0 5px -2px 0;
      position: absolute;
      left: 2px!important;
      top: 2px;
    }
  }

  > li {
    > a {
      display: block;
    }
    &:before {
      content: "" !important;
    }
  }

  &.left {
    position: relative;

    &:before {
      display: inline-block; content: '';
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 4px 8px 4px 0;
      border-color: transparent $colorBlue1 transparent transparent;
      margin: -1px 3px 0 0;
    }
  }

  &.right {
    position: relative;

    &:after {
      display: inline-block; content: '';
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 4px 0 4px 8px;
      border-color: transparent transparent transparent $colorBlue1;
      margin: -1px 0 0 3px;
    }
  }
}


#{$classPrefix}before {
  position: relative;
  padding-left: 30px !important;

  &:before {
    background: url(/ui/classes/icons/assets/canvas.png) no-repeat center center;
    content: ""; display: inline-block;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -8px;
  }

  &.chart {
    &:before {
      background-position: -1px -208px;
      width: 20px;
      height: 20px;
    }
  }

  &.calendar {
    &:before {
      background-position: -28px -206px;
      width: 20px;
      height: 20px;
    }
  }

  &.institute {
    &:before {
      background-position: -53px -206px;
      width: 20px;
      height: 20px;
    }
  }

  &.book {
    &:before {
      background-position: -1px -230px;
      width: 22px;
      height: 20px;
    }
  }

  &.transcript {
    &:before {
      background-position: -27px -228px;
      width: 22px;
      height: 20px;
    }
  }

  &.lock {
    padding-left: 18px !important;
    &:before {
      background-position: -85px 0;
      width: 11px;
      height: 14px;
    }

    &.black {
      &:before {
        background-position: -61px 0;
      }
    }
  }

  &.status-tick {
    color: $colorGreen1;
    padding-left: 18px !important;
    display: inline-block;

    &:before {
      background-position: -60px -22px;
      width: 14px;
      height: 14px;
    }
  }
}


#{$classPrefix}meta {
  position: relative;
  color: #aaa;

  &:before {
    background: url(/ui/classes/icons/assets/canvas.png) no-repeat center center;
    content: ""; display: inline-block;
    position: absolute;
    left: 3px;
    top: 50%;
    margin-top: -5px;
  }

  &.views {
    padding-left: 20px !important;

    &:before {
      background-position: -2px -254px;
      width: 15px;
      height: 10px;
      margin-top: -5px;
    }
  }

  &.likes {
    padding-left: 17px !important;

    &:before {
      background-position: -29px -254px;
      width: 12px;
      height: 10px;
      margin-top: -5px;
    }
  }
}

#{$classPrefix}sharing {
  text-indent: -5000em;
  text-align: left;
  display:inline-block;
  vertical-align: top;
  background: url(/ui/classes/icons/assets/canvas.png) no-repeat center center;

  &.facebook {
    background-position: -3px -271px;
    width: 10px;
    height: 20px;
  }
  &.twitter {
    background-position: -25px -271px;
    width: 24px;
    height: 20px;
  }
  &.mail {
    background-position: -59px -271px;
    width: 22px;
    height: 20px;
  }
  &.share {
    background-position: -2px -298px;
    width: 27px;
    height: 20px;
  }
}

#{$classPrefix}search-only {
  position: relative;
  text-indent: -5000em;

  &:before {
    background: url(/ui/classes/icons/assets/canvas.png) no-repeat;
    background-position: -40px -300px;
    content: ""; display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -8.5px;
    margin-left: -9px;
    width: 17px;
    height: 18px;
  }
}

#{$classPrefix}quote {
  position: relative;
  text-indent: -5000em;
  background: url(/ui/classes/icons/assets/canvas.png) no-repeat;
  background-position: 50px -324px;
  display: inline-block;
  width: 31px;
  height: 29px;
  vertical-align: bottom;

  &.start {
    background-position: -40px -324px;
    margin-right: 5px;
  }
  &.end {
    background-position: -3px -324px;
    margin-left: 5px;
  }
}