<section class="topbar">
  <div class="container">
    <ul class="menu">
      <li>
        <a href="#" class="sprite c2">
          CBOE C2
        </a>
      </li>
      <li>
        <a href="#" class="sprite futures">
          CBIE Futures Exchange
        </a>
      </li>
      <li>
        <a href="#" class="sprite stock">
          CBOE Stock Exchange
        </a>
      </li>
      <li>
        <a href="#" class="sprite permit">
          CBOE Permit Holders
        </a>
      </li>
      <li>
        <a href="#" class="button green">
          Login / Register
        </a>
      </li>
    </ul>
  </div>
</section>