<form class="login-form">

  <fieldset>
    <div class="twocol">
      <div class="col">
        <label for="email">Email Address:</labeL>
        <input type="email" name="email">
      </div>
      <div class="col">
        <label for="password">Password:</labeL>
        <input type="password" name="password">
      </div>
    </div>
  </fieldset>

</form>