/*
  View: twocolB
  Description: Styling for twocol view.
*/
.view-twocolB {
  padding: 0 7px; }
  .view-twocolB .topspan {
    width: 1100px;
    max-width: 100%;
    min-width: 768px;
    margin: 0 auto;
    *zoom: 1; }
    .view-twocolB .topspan:before, .view-twocolB .topspan:after {
      content: " ";
      display: table; }
    .view-twocolB .topspan:after {
      clear: both; }
    @media screen and (max-width: 767px) {
      .view-twocolB .topspan {
        min-width: 0px;
        width: 100%; } }
  .view-twocolB .bottomspan {
    width: 1100px;
    max-width: 100%;
    min-width: 768px;
    margin: 0 auto;
    *zoom: 1;
    min-width: 0;
    margin: 35px 0; }
    .view-twocolB .bottomspan:before, .view-twocolB .bottomspan:after {
      content: " ";
      display: table; }
    .view-twocolB .bottomspan:after {
      clear: both; }
    @media screen and (max-width: 767px) {
      .view-twocolB .bottomspan {
        min-width: 0px;
        width: 100%; } }
  .view-twocolB .beforeRow, .view-twocolB .afterRow {
    padding: 0 15px; }
  .view-twocolB .main {
    background: white;
    border: 1px solid #d0d0d0;
    *zoom: 1;
    padding: 20px 0;
    clear: both; }
    .view-twocolB .main:before, .view-twocolB .main:after {
      content: " ";
      display: table; }
    .view-twocolB .main:after {
      clear: both; }
    .view-twocolB .main .two-col-body {
      display: table;
      table-layout: fixed;
      width: 100%;
      clear: both;
      *zoom: 1;
      margin: 20px 0; }
      .view-twocolB .main .two-col-body:before, .view-twocolB .main .two-col-body:after {
        content: " ";
        display: table; }
      .view-twocolB .main .two-col-body:after {
        clear: both; }
      .view-twocolB .main .two-col-body .col1, .view-twocolB .main .two-col-body .col2 {
        display: table-cell;
        vertical-align: top;
        padding: 0 15px;
        width: 100%; }
      .view-twocolB .main .two-col-body .col1 {
        width: 250px; }
  @media screen and (max-width: 950px) {
    .view-twocolB .main .two-col-body .col1 {
      width: 210px; } }
  @media screen and (max-width: 767px) {
    .view-twocolB .main > div:first-child {
      margin-top: 0; }
    .view-twocolB .main .two-col-body {
      display: block;
      margin-bottom: 0; }
      .view-twocolB .main .two-col-body .col1, .view-twocolB .main .two-col-body .col2 {
        display: block;
        width: 100%; }
        .view-twocolB .main .two-col-body .col1 > div:last-child, .view-twocolB .main .two-col-body .col2 > div:last-child {
          margin-bottom: 0; }
      .view-twocolB .main .two-col-body .col1 {
        margin-bottom: 30px; } }
