<div class="sponsered">
  <div class="results">
    <h4>
      Sponsored Results
    </h4>

    <div class="block">
      <a href="#">
        <h5>
          About CBOE
        </h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vestibulum diam libero, ut euismod enim vestibulum interdum. Etiam laoreet ligula sed lacinia malesuada. In rutrum fermentum risus, id sodales orci tempus venenatis.
        </p>
      </a>
      <a href="#">
        <h5>
          CBOE - Investor Relations
        </h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vestibulum diam libero, ut euismod enim vestibulum interdum. Etiam laoreet ligula sed lacinia malesuada. In rutrum fermentum risus, id sodales orci tempus venenatis.
        </p>
      </a>
    </div>
  </div>

  <div class="ad">
    <div class="hideonmobile">
      {{> ads/square_300/block}}
    </div>
    <div class="hideonmdesktop">
      {{> ads/span/slim}}
    </div>
  </div>
</div>