/*
  Module: Columns
  Description: Simple wrapper element that can break modules into columns
*/
.wrap-columns-outer {
  margin: 0 -15px; }
  .wrap-columns-outer .wrap-meta {
    table-layout: fixed;
    display: table;
    margin-bottom: 16px;
    width: 100%; }
    .wrap-columns-outer .wrap-meta .wrap-meta-item {
      display: table-cell;
      text-align: center; }
      .wrap-columns-outer .wrap-meta .wrap-meta-item:first-child {
        text-align: left; }
      .wrap-columns-outer .wrap-meta .wrap-meta-item.large-center {
        width: 50%; }
      .wrap-columns-outer .wrap-meta .wrap-meta-item.align-right {
        text-align: right; }
      .wrap-columns-outer .wrap-meta .wrap-meta-item .item {
        margin-right: 12px; }
      .wrap-columns-outer .wrap-meta .wrap-meta-item.spaced-item .item {
        margin: 0 0 0 50px; }
  @media all and (max-width: 767px) {
    .wrap-columns-outer {
      margin: 0; }
      .wrap-columns-outer .wrap-meta {
        margin: 0; }
        .wrap-columns-outer .wrap-meta .wrap-meta-item {
          display: block;
          width: 100%;
          text-align: center;
          margin: 5px 0; }
          .wrap-columns-outer .wrap-meta .wrap-meta-item:first-child {
            text-align: center; }
          .wrap-columns-outer .wrap-meta .wrap-meta-item.large-center {
            width: 100%; }
          .wrap-columns-outer .wrap-meta .wrap-meta-item .item {
            margin: 0 5px;
            display: inline-block; }
            .wrap-columns-outer .wrap-meta .wrap-meta-item .item:first-child {
              margin-left: 0; }
            .wrap-columns-outer .wrap-meta .wrap-meta-item .item:last-child {
              margin-right: 0; }
            .wrap-columns-outer .wrap-meta .wrap-meta-item .item .key, .wrap-columns-outer .wrap-meta .wrap-meta-item .item .value {
              display: block; } }

.wrap-columns-inner {
  margin: 0 0 20px;
  table-layout: fixed;
  display: table;
  width: 100%;
  border-collapse: separate;
  border-spacing: 15px 0; }
  .wrap-columns-inner.hidedesktop {
    left: -9999px;
    display: none; }
  .wrap-columns-inner * {
    border-collapse: initial;
    border-spacing: 0; }
  .wrap-columns-inner.margin-ten {
    margin-bottom: 10px; }
  .wrap-columns-inner.margin-none {
    margin-bottom: 0; }
  .wrap-columns-inner .column {
    display: table-cell;
    vertical-align: top; }
  .wrap-columns-inner.two .column {
    width: 50%; }
    .wrap-columns-inner.two .column:first-child {
      padding-right: 10px; }
    .wrap-columns-inner.two .column:last-child {
      padding-left: 10px; }
  .wrap-columns-inner.two.slimright .column:first-child {
    width: 66.66666%; }
  .wrap-columns-inner.two.slimright .column:last-child {
    width: 32.6%; }
  .wrap-columns-inner.two.slimright.ad .column:last-child {
    width: 310px; }
  .wrap-columns-inner.two.slimleft .column:first-child {
    width: 32.6%; }
  .wrap-columns-inner.two.slimleft .column:last-child {
    width: 66.66666%; }
  .wrap-columns-inner.two.slimleft.ad .column:first-child {
    width: 310px; }
  .wrap-columns-inner.three .column {
    width: 33.3333%; }
  .wrap-columns-inner .component {
    margin-bottom: 30px;
    position: relative; }
    .wrap-columns-inner .component:after {
      display: block;
      content: "";
      border-bottom: 1px solid #dddddd;
      width: 100%;
      position: absolute;
      bottom: -15px;
      left: 0; }
    .wrap-columns-inner .component:last-child {
      border-bottom: none;
      padding: 0;
      margin-bottom: 0; }
      .wrap-columns-inner .component:last-child:after {
        display: none; }
    .wrap-columns-inner .component:first-child {
      border-bottom: none;
      padding: 0; }
      .wrap-columns-inner .component:first-child > .widget-title {
        margin-bottom: -15px; }
      .wrap-columns-inner .component:first-child:after {
        display: none; }
    .wrap-columns-inner .component > div, .wrap-columns-inner .component > section, .wrap-columns-inner .component > article {
      margin: 0; }
  @media all and (max-width: 767px) {
    .wrap-columns-inner {
      display: block; }
      .wrap-columns-inner.hidedesktop {
        display: block; }
      .wrap-columns-inner .column {
        margin: 20px 0;
        width: 100% !important;
        display: block; }
        .wrap-columns-inner .column:first-child {
          margin-top: 0; }
        .wrap-columns-inner .column:last-child {
          margin-bottom: 0; }
      .wrap-columns-inner.two .column:first-child, .wrap-columns-inner.two .column:last-child {
        padding-left: 0;
        padding-right: 0; }
      .wrap-columns-inner.two .widget.column:first-child, .wrap-columns-inner.two .widget.column:last-child {
        padding-left: 10px;
        padding-right: 10px; }
      .wrap-columns-inner.margin-none .column {
        margin: 0; } }
