/*
  Module: Search Generic
  Description: Generic customizable search form with a single field.
*/
.search-generic input[type="text"] {
  width: 40%;
  margin: 0 10px; }
.search-generic.focus input[type="text"], .search-generic.focus label {
  font-size: 1.1em; }
.search-generic.focus button, .search-generic.focus input[type="text"] {
  min-height: 30px;
  line-height: 30px;
  vertical-align: middle; }
@media all and (max-width: 600px) {
  .search-generic input[type="text"], .search-generic button {
    display: block;
    width: 100%;
    margin: 5px 0; } }
