
// Brand Colors
$colorOne: blue;
$colorTwo: green;
$colorThree: red;

// Grid Settings
$rowgigangticWidth: 100% !default;
$rowWidth: 1000px !default;
$columnGutter: 30px !default;
$totalColumns: 12 !default;
$mobileTotalColumns: 4 !default;
$blockGridElements: 12 !default; // Highest number of block grid elements, Maximum of 24 supported

// Primary Media Queries
$screenSmall: 768px !default;
$screenMedium: 1279px !default;
$screenXlarge: 1441px !default;