
// Fonts
$fontFamily: Arial, Helvetica, sans-serif;
$fontFamilyBold: "Arial Black", Gadget, sans-serif;

// Brand Colors
$colorBlue1: #135fad;
$colorBlue2: #12b7ed;
$colorBlue3: #0d335a;
$colorGrey1: #313538;
$colorGrey2: #ddd;
$colorGreen1: #2ca62d;
$colorGreen2: #3cf945;
$colorGreen3: #187e35;
$colorRed1: #b7120b;
$colorGreen1: #21a825;

// Grid Settings
$rowgigangticWidth: 100% !default;
$rowWidth: 1100px !default;
$columnGutter: 30px !default;
$totalColumns: 12 !default;
$mobileTotalColumns: 4 !default;
$blockGridElements: 12 !default; // Highest number of block grid elements, Maximum of 24 supported

// Primary Media Queries
$screenSmall: 768px !default;
$screenSmallMax: ($screenSmall - 1);
$screenMedium: 1279px !default;
$screenMediumMax: ($screenMedium - 1);
$screenXlarge: 1441px !default;
$screenXlargeMax: ($screenXlarge - 1);