@import './ui/base/_includes/reset';
@import './ui/base/_includes/grid';
@import './ui/base/_typography';

// Base from body styling
body {
  font: {
    family: Arial, Helvetica, sans-serif;
    size: 12px;
  }
  background: $colorBlue1;
  overflow-x: hidden;
}

.body {
  background: $colorGrey2;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}


// Make images responsive (in ratior not size)
img {
  max-width:100% !important;
  height:auto;
  display:block;
}

// Base container class
.container {
  @include outerRow();
  min-width: 0px;

  @media screen and (max-width: $screenSmall) {
    min-width: 0px;
    width: 100%;
  }
}

// Apply default mixins for typography
h1 { @include h1; }
h2 { @include h2; }
h3 { @include h3; }
h4 { @include h4; }
h5 { @include h5; }
p { @include p; }

// Links base
a {
  color: $colorGrey1;
  text-decoration: none;

  &:hover {
    color: $colorBlue1;
  }
}

.preventscroll {
  overflow: hidden;
  height: 100%;
  width: 100%;
}