<form class="quicksearch">
  <!--<input type="text" placeholder="Quotes, Keywords, Products, News, etc.">
  <button type="submit" class="button">Search</button>-->

  <script>
    (function() {
      var cx = '015862480144099304085:rr2pnh70kt4';
      var gcse = document.createElement('script');
      gcse.type = 'text/javascript';
      gcse.async = true;
      gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
          '//www.google.com/cse/cse.js?cx=' + cx;
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(gcse, s);
    })();
  </script>
  <gcse:search></gcse:search>
</form>