/*
  Module: QuickSearch
  Description: Quick search module. Layer of abstraction will allow us to in theory drop this module in many places. Primary location designed for is in the header module.
*/

@import './ui/base/settings';
@import './ui/base/_includes/compass/css3';

$module: '.quicksearch';

#{$module} {
  & > {font: {
    size: 0;
  }}

  text-align: right;

  input[type="text"] {
    margin: 0; box-sizing: border-box;
    width: 80%;
    padding: 7px;

    @include border-radius(3px);
    @include box-shadow(1px 1px 0 rgba(0,0,0,.1));
    border: none;
    background: #fff;
  }

  button[type="submit"] {
    padding-top: 7px; padding-bottom: 7px;
  }

  form.gsc-search-box {
    padding: 0 !important;
    margin: 0 !important;
  }
  .gsc-control-cse, .gsc-control-cse-en {
    padding: 0;
    background: none;
    border: none;

    input.gsc-search-button {
      background-color: $colorBlue1 !important;
      padding: 9px 15px !important;
      height: auto !important;
      border-color: $colorBlue1 !important;

      &:hover {
        background-color: lighten($colorBlue1, 10%) !important;
      }
    }
    td.gsc-input {
      padding-right: 7px !important;
    }

    .gsc-clear-button {
      display: none;
    }

    .gsc-results-wrapper-overlay {
      text-align: left;
    }
  }


  @media screen and (max-width: 900px) {
    input[type="text"] {
      width: 75%;
    }
  }
}