<form class="settings-form">

  <fieldset>

    <div class="columns nopadding half-width">
      <label class="column">
        <span class="text-red">*</span>
        First Name:
        <input type="text" name="fname">
      </label>
      <label class="column">
        <span class="text-red">*</span>
        Last Name:
        <input type="text" name="lname">
      </label>
    </div>

    <div class="columns nopadding">
      <label class="column">
        <span class="text-red">*</span>
        Address 1:
        <input type="text" name="fname">
      </label>
      <label class="column">
        <span class="text-red">*</span>
        Address 2:
        <input type="text" name="fname" class="error">
      </label>
      <label class="column">
        <span class="text-red">*</span>
        City:
        <input type="text" name="fname">
      </label>
      <label class="column">
        <span class="text-red">*</span>
        State/Province:
        <input type="text" name="fname">
      </label>
    </div>

    <div class="columns nopadding half-width">
      <label class="column">
        <span class="text-red">*</span>
        Zip/Postal Code:
        <input type="text" name="fname">
      </label>
      <label class="column">
        <span class="text-red">*</span>
        Country:
        <input type="text" name="fname">
      </label>
    </div>

    <div class="columns nopadding threefourth-width">
      <label class="column">
        <span class="text-red">*</span>
        Email:
        <input type="text" name="fname">
      </label>
      <label class="column">
        Phone:
        <input type="text" name="fname">
      </label>
      <label class="column error">
        Phone Ext:
        <input type="text" name="fname">
      </label>
    </div>

    <div class="columns nopadding fourth-width">
      <label class="column error">
        Investor Type:
        <select name="invtype">
          <option>Default</option>
          <option>Broker / Advisor</option>
          <option>Broker / Advisor</option>
          <option>Broker / Advisor</option>
        </select>
      </label>
    </div>

  </fieldset>

  <fieldset>
    <h5>
      CBOE Special Updates and Offers
    </h5>

    <label class="checkbox column">
      <input type="checkbox" name="option" class="error">
      Yes, I would like to receive e-mail updates from CBOE.com with tips, offers and new product features.
    </label>

    <label class="checkbox column error">
      <input type="checkbox" name="option">
      Yes, I'd like to receive news, updates, and special offers from CBOE, its partners and affiliates via e-mail.
    </label>
  </fieldset>

  <div class="buttons">
    <button type="submit" class="button blue">
      Submit
    </button>

    <a href="#" class="button grey">
      Cancel
    </a>
  </div>

</form>