<section class="topbar">
  <div class="container">
    <div class="hideonmobile" style="text-align: center;">
      <a href="#">
        <img
          src="/ui/assets/images/placeholders/advert-3.jpg"
          style="display:inline-block;"
          />
      </a>
    </div>

    <ul class="menu">
      <li class="hidemobile">
        <a href="#" class="sprite c2">
          CBOE C2
        </a>
      </li>
      <li class="hidemobile">
        <a href="#" class="sprite futures">
          CBIE Futures Exchange
        </a>
      </li>
      <li class="hidemobile">
        <a href="#" class="sprite stock">
          CBOE Stock Exchange
        </a>
      </li>
      <li class="hidemobile">
        <a href="#" class="sprite permit">
          CBOE Permit Holders
        </a>
      </li>
      <li class="hidedesktop">
        <a href="#" class="button white search mobileExpandTopSearch">
          Search
        </a>
      </li>
      <li>
        <a href="#" class="button account green">
          Login / Register
        </a>
      </li>
    </ul>
    <a href="#" class="navicon hidedesktop"></a>
  </div>
</section>