/*
	Module: TopBar
	Description: The topbar module spans the width of the page. It contains a links to various CBOE subsites and registration/login.
*/

@import './ui/base/settings';
@import './ui/base/_includes/compass/css3';

$module: '.topbar';

#{$module} {
  background: $colorGrey1;

  .menu {
    padding: 0; margin: 0; list-style: none;

    text-align: right;

    li {
      @include inline-block();
      padding: 10px 0;
      margin-left: 25px;

      a {
        @include inline-block();
        color: #fff;

        &.sprite {
          background: url(/modules/header/topbar/assets/sprite.jpg) no-repeat top center;
          text-indent: -5000em;
          text-align: left;

          &.c2 {
            width: 57px;
            background-position: center 3px;
          }

          &.futures {
            width: 71px;
            background-position: center -28px;
          }

          &.stock {
            width: 71px;
            background-position: center -59px;
          }

          &.permit {
            width: 67px;
            background-position: center -90px;
          }
        }
      }
    }
  }
}