<section class="form search-chain filter">
  <label class="text-bold inline-block">
    Chain Type:
    <select name="type">
      <option>
        Calls and Puts
      </option>
    </select>
  </label>
  <label class="text-bold inline-block">
    Expiration:
    <select name="expiration">
      <option>
        March 2014
      </option>
    </select>
  </label>

  <label class="notbold">
    <input type="radio" name="list" checked="true">
    List near term at-the-money options &amp; <strong>Weeklys</strong> if available.
  </label>
  <label class="notbold">
    <input type="radio" name="list">
    List all <strong>options, LEAPS, Credit Options &amp; Weeklys if available.</strong>
  </label>

  <div class="buttons margin-20">
    <button type="submit">View Chain</button>
  </div>
</section>