<div class="widget-tv {{#each classes}} {{this}} {{/each}}">
  {{> widgets/widget-title}}

  <div class="prime">
    <object
      type="application/x-shockwave-flash"
      id="limelight_player_16878"
      name="limelight_player_16878"
      class="LimelightEmbeddedPlayerFlash embed"
      width="249"
      height="168"
      data="http://assets.delvenetworks.com/player/loader.swf">
      <param
        name="movie"
        value="http://assets.delvenetworks.com/player/loader.swf">
      <param
        name="wmode"
        value="window">
      <param
        name="allowScriptAccess"
        value="always">
      <param
        name="allowFullScreen"
        value="true">
      <param
        name="flashVars"
        value="playerForm=MiniPlayer&mediaId={{videos.0.embedurl}}">
    </object>
  </div>
  <ul class="options">
    {{#each videos}}
    <li>
      <a href="#" data-embedurl="{{this.embedurl}}">
        <img src="/ui/assets/images/placeholders/blank.gif" data-echo="{{this.image}}" alt="">
      </a>
    </li>
    {{/each}}
  </ul>
</div>