<div class="widget-tv {{#each classes}} {{this}} {{/each}}">
  {{> widgets/widget-title}}

  <div class="prime">
    <iframe class="embed" width="560" height="315" src="{{videos.0.embedurl}}" frameborder="0" allowfullscreen></iframe>
  </div>
  <ul class="options">
    {{#each videos}}
    <li>
      <a href="#" data-embedurl="{{this.embedurl}}">
        <img src="/ui/assets/images/placeholders/blank.gif" data-echo="{{this.image}}" alt="">
      </a>
    </li>
    {{/each}}
  </ul>
</div>