<form class="register-form" id="register">

  <fieldset>
    <div class="wrap-columns-outer">
      <div class="wrap-columns-inner two margin-none">
        <div class="column">
          <label for="fname">First Name:</labeL>
          <input type="text" name="fname">
        </div>
        <div class="column">
          <label for="lname">Last Name:</labeL>
          <input type="text" name="lname">
        </div>
      </div>
    </div>


    <div class="wrap-columns-outer">
      <div class="wrap-columns-inner two margin-none">
        <div class="column">
          <label for="email">Email Address:</labeL>
          <input type="email" name="email">
        </div>
        <div class="column">
          <label for="confirm-email">Confirm Email Address:</labeL>
          <input type="email" name="confirm-email">
        </div>
      </div>
    </div>


    <div class="wrap-columns-outer">
      <div class="wrap-columns-inner two margin-none">
        <div class="column">
          <label for="uid">User ID:</labeL>
          <input type="text" name="uid">
        </div>
        <div class="column">
          <label for="yob">Year of birth:</labeL>
          <select name="yob">
            <option default="default">YYYY</option>
            <option>1950</option>
          </select>
        </div>
      </div>
    </div>


    <div class="wrap-columns-outer">
      <div class="wrap-columns-inner two margin-none">
        <div class="column">
          <label for="password">Password:</labeL>
          <input type="password" name="password">
        </div>
        <div class="column">
          <label for="confirm-password">Confirm Password:</labeL>
          <input type="password" name="confirm-password">
        </div>
      </div>
    </div>

  </fieldset>


  <fieldset>
    <h4>
      CBOE Special Updates and Offers
    </h4>

    <label class="checkbox">
      <input type="checkbox" name="tips">
      Yes, I would like to receive e-mail updates from CBOE.com with tips, offers and new product features.
    </label>

    <label class="checkbox">
      <input type="checkbox" name="news">
      Yes, I'd like to receive news, updates, and special offers from CBOE, its partners and affiliates via e-mail.
    </label>
  </fieldset>

  <fieldset>
    <h4>
      Terms of Service
    </h4>

    <label class="checkbox">
      <input type="checkbox" name="terms1">
      Yes, I would like to receive e-mail updates from CBOE.com with tips, offers and new product features.
    </label>

    <label class="checkbox">
      <input type="checkbox" name="terms2">
      Keep me logged in on this computer.
    </label>
  </fieldset>

  <div class="buttons">
    <button type="submit" class="button blue">
      Next
    </button>

    <a href="#" class="button grey">
      Cancel
    </a>
  </div>

</form>