/*
  Module: Ticker
  Description: Ticker items and wrapper (bar) component styling
*/
.ticker-bar {
  position: relative;
  padding: 0 10px; }
  .ticker-bar.loaded .control {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1; }
  .ticker-bar .control {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    position: absolute;
    background: #135fad;
    cursor: pointer;
    -webkit-transition-property: opacity background;
    -moz-transition-property: opacity background;
    -o-transition-property: opacity background;
    transition-property: opacity, background;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -ms-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    text-align: center;
    padding: 6px 4px;
    top: 50%;
    margin-top: -13px; }
    .ticker-bar .control.left {
      left: -20px; }
    .ticker-bar .control.right {
      right: -20px; }
    .ticker-bar .control.disabled {
      background: #313538;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
      opacity: 0.2;
      cursor: default; }
  .ticker-bar.simple .bar {
    overflow: scroll; }
  .ticker-bar .bar {
    overflow: hidden;
    white-space: nowrap; }
    .ticker-bar .bar .inner {
      float: left; }
    .ticker-bar .bar .ticker-item {
      border-right: 1px solid #dddddd; }
      .ticker-bar .bar .ticker-item.no-border {
        border: none; }
      .ticker-bar .bar .ticker-item:last-child {
        border-right: none; }
    @media all and (max-width: 767px) { }

.ticker-item {
  display: inline-block;
  padding: 0 15px; }
  .ticker-item:first-child {
    padding-left: 0; }
  .ticker-item:last-child {
    padding-right: 0; }
  .ticker-item span {
    display: block; }
  .ticker-item .symbol {
    font-size: 0.8em; }
  .ticker-item .volume {
    font-size: 0.8em; }
  .ticker-item .price {
    font-size: 1.2em;
    font-weight: 700; }
  .ticker-item .change {
    font-size: 0.9em;
    font-weight: 700;
    text-align: right; }
