/*
  Module: Pagination
  Description: Pagination
*/

@import './ui/base/settings';
@import './ui/base/_includes/compass/css3';

$module: '.pagination';

#{$module} {
  text-align: center;
  margin: 20px 0 0;

  ul {
    list-style: none;
    margin: 0; padding: 0;

    li {
      display: inline-block;

      a {
        display: block;
        background: $colorBlue1;
        color: #fff;
        font: {
          size: .9em;
          weight: 700;
        }
        padding: 3px 8px;
        margin: 0 3px;

        &:hover, &:active {
          background: lighten($colorBlue1, 5%);
        }

        &.active {
          background: $colorGreen1;
        }
      }

      &.next, &.prev {
        a {
          background: none;
          color: $colorGrey1;
          padding: 3px 20px;
        }
      }
    }
  }

  .total {
    display: block;
    margin: 10px 0 0 0;
    color: darken($colorGrey2, 25%);
  }

  @media all and (max-width: 900px) {
    &>ul {
      li {
        &.next, &.prev {
          a {
            background: none;
            color: $colorGrey1;
            padding: 3px 0;
          }
        }
      }
    }
  }

  @media all and (max-width: $screenSmallMax) {
    &>ul {
      position: relative;
      padding-top: 30px;

      li {
        &.next, &.prev {
          position: absolute;
          top: 0;
          width: 50%;
        }

        &.next {
          right: 0;
        }

        &.prev {
          left: 0;
        }

        &.pages {
          display:block;
          max-width: 100%;
          overflow-x: scroll;

          ul {
            display: table;
            width: 100%;

            li {
              display: table-cell;
            }
          }
        }
      }
    }
  }
}