<div class="pagination">

  <ul class="pagination">
    <li class="prev">
      <a href="#" class="icon-css-arrows left">
        prev
      </a>
    </li>

    <li>
      <a href="#">
        1
      </a>
    </li>
    <li>
      <a href="#">
        2
      </a>
    </li>
    <li>
      <a href="#" class="active">
        3
      </a>
    </li>
    <li>
      <a href="#">
        4
      </a>
    </li>
    <li>
      <a href="#">
        5
      </a>
    </li>
    <li>
      <a href="#">
        6
      </a>
    </li>
    <li>
      <a href="#">
        7
      </a>
    </li>
    <li>
      <a href="#">
        8
      </a>
    </li>

    <li class="next">
      <a href="#" class="icon-css-arrows right">
        next
      </a>
    </li>
  </ul>

  <span class="total">
    ({{total}} results)
  </span>

</div>