{{#if widget.title}}
  <h3 class="widget-title {{#each widget.classes}} {{this}} {{/each}}">
    {{widget.title}}

    {{#if widget.promo}}
    <div class="promo">
      <a href="{{widget.promo.url}}" class="icon-logo {{widget.promo.class}}"></a>
    </div>
    {{/if}}
  </h3>
{{/if}}