/*
  Module: Widgets
  Description: Base style wrapper for widget elements
*/

@import './ui/base/settings';
@import './ui/base/_includes/compass/css3';

$module: '.widget';

$borderShad: inset 0 0 0 1px darken($colorGrey2, 10%);

// Work around for firefox display:table-cell and positions
// Cannot position relative and sit the border within the
// context of that element. Using boxshadow which is supported in
// FF but not other versions of IE.
@-moz-document url-prefix() {
  #{$module} {
    @include box-shadow(inset 0 4px 0 $colorBlue2, $borderShad !important);

    &:before {
      display: none !important;
    }

    &.noborders {
      @include box-shadow(inset 0 4px 0 $colorBlue2 !important);
    }
  }
}

#{$module} {
  background: #fff;
  padding: 14px 10px 10px;
  position: relative;
  @include box-shadow($borderShad);

  &.noborders {
    @include box-shadow(none);
  }

  &:before {
    display: block; content: '';
    position:absolute;
    top: 0px;
    left: 0;
    background: $colorBlue2;
    width: 100%;
    height:4px;
  }

  h3 {
    font: {
      size: 1.3em;
    }
  }



  &.nostyle {
    background: none;
    border: none;
    padding: 0;
    @include box-shadow(none);

    &:before {
      display: none;
    }
  }

  @media screen and (max-width: $screenSmallMax) {
    margin: 10px 0;
  }
}

.widget-title {
  border-bottom: 1px solid $colorGrey2;
  padding: 0 0 10px 0;
  margin: 0 0 15px 0;
  position: relative;

  &.blueborder {
    border-bottom: 3px solid $colorBlue2;
  }

  &.subwidget {
    border-bottom: 0;
    font: {
      size: .9em;
    }
    text-transform: uppercase;
    color: $colorBlue1;
    margin: 0 0 3px;
    padding: 0 0 5px;

    & ~ .subwidget {
      border-top: 1px solid $colorGrey2;
      padding-top: 20px;
      margin-top: 10px;
    }
  }

  .promo {
    position: absolute;
    top: 0;
    right: 0;

    a {
      color: $colorBlue1;
      text-transform: uppercase;
      font: {
        size: 10px;
      }

      &:hover, &:active {
        color: $colorGrey1;
      }

      &.button {
        color: #fff;
        text-transform: none;
      }
    }

    .optionshub {
      margin-top: -4px;
    }
  }
}