/*
  Module: Widgets
  Description: Base style wrapper for widget elements
*/

@import './ui/base/settings';
@import './ui/base/_includes/compass/css3';

$module: '.widget';

#{$module} {
  background: #fff;
  padding: 14px 10px 10px;
  position: relative;

  &:before {
    display: block; content: '';
    position:absolute;
    top: 0px;
    left: 0;
    background: $colorBlue2;
    width: 100%;
    height:4px;
  }

  h3 {
    font: {
      size: 1.3em;
    }
  }

  .widget-title {
    border-bottom: 1px solid $colorGrey2;
    padding: 0 0 10px 0;
    margin: 0 0 15px 0;
    position: relative;

    .promo {
      position: absolute;
      top: 0;
      right: 0;

      .optionshub {
        margin-top: -4px;
      }
    }
  }

  &.nostyle {
    background: none;
    border: none;
    padding: 0;

    &:before {
      display: none;
    }
  }
}