<div class="login-wrapped">
  <h3>
    Log in to myCBOE
  </h3>

  <p>
    Duis tempus eros in lectus tempor, vel mollis mi porta. Curabitur vel vehicula nibh, non eleifend orci. Donec gravida quis sem vitae accumsan. Cras nec felis eros. Nam ante ipsum, pellentesque at vestibulum eget, pellentesque eu mauris.
  </p>

  {{> widgets/login/form/form}}
</div>