<ul class="account-dropdown">
  <li>
    <a href="#" class="button account">
      My Account
    </a>

    <ul>
      <li>
        <a href="#">
          MyCBOE
        </a>
      </li>
      <li>
        <a href="#">
          Account Settings
        </a>
      </li>
      <li>
        <a href="#">
          Sign Out
        </a>
      </li>
    </ul>
  </li>
</ul>